<template>
    <div>

        <div class="wpsr-custom-review-modal-fields">

            <div class="wpsr-custom-review-field">
                <h3>Note</h3>
                <p class="small-description"><i class="el-icon-info"></i> Add a note </p>
                <el-input
                    type="textarea"
                    :rows="4"
                    placeholder="Add a note"
                    v-model="note"
                    size="mini"
                >
                </el-input>
            </div>

        </div>

        <div class="wpsr-custom-review-modal-footer">
            <el-button type="primary" size="mini" icon="el-icon-success" @click="addNote">Add Note</el-button>
        </div>

    </div>

</template>

<script>
export default {
     
    data(){
        return{
            note:''
        }
    },

    methods:{
        
        addNote(){
            this.$emit('closeCustomerNote',true);
            this.$store.dispatch('customerNoteAction',this.note);
        }

    },

    mounted(){
        
    }


   
}
</script>

<style lang="scss">

    .wpsr-custom-review-modal-footer{
        .el-button{
            margin-top:8px;
        }
    }

</style>