<template>
    <div class="customer-info">

        <el-radio-group v-model="formData.customer_type">
            <el-radio label="walkincustomer">Walk in Customer</el-radio>
            <el-radio label="regular_customer">Regular Customer</el-radio>
        </el-radio-group>

        <div v-if="formData.customer_type === 'regular_customer'" class="regular-customer">
            <div class="wpsr-custom-review-field">
                <h3>Phone Number</h3>
                <vue-tel-input v-model="demoPhone" @validate="validPhoneNumber"></vue-tel-input>
                <p>(Select country and add number ex:01742XXXXXX or add phone number with internation format ex:+8801742XXXXXX)</p>
                <!-- <el-input
                    placeholder="Phone Number"
                    v-model="formData.phone_number"
                    size="mini"
                >
                </el-input> -->
                <p class="error-message" v-if="errors.phone_number">{{ errors.phone_number}}</p>
            </div>
            
            <el-button size="mini" icon="el-icon-check" type="primary" @click.prevent="findUser">Find</el-button>
            <el-button v-if="hasClearButton" icon="el-icon-refresh" size="mini" type="primary" @click.prevent="clearUser">Clear Customer</el-button>
        </div>

        <div class="wpsr-custom-review-modal-fields" v-if="formData.customer_type === 'regular_customer' && showform">

            <div class="wpsr-custom-review-field">
                <h3>Customer Name</h3>
                <el-input
                    placeholder="Customer name"
                    v-model="formData.customer_name"
                    size="mini"
                >
                </el-input>
                <p class="error-message" v-if="errors.customer_name">{{ errors.customer_name}}</p>
            </div>

            <div class="wpsr-custom-review-field">
                <h3>Email Address</h3>
                <el-input
                    placeholder="Email Address"
                    v-model="formData.email_address"
                    size="mini"
                >
                </el-input>
            <!-- <p class="error-message" v-if="errors.reviewer_url">{{ errors.reviewer_url}}</p> -->
            </div>

            <div class="wpsr-custom-review-field">
                <h3>Description</h3>
                <el-input
                    type="textarea"
                    :rows="4"
                    placeholder="Description"
                    v-model="formData.description"
                    size="mini"
                >
                </el-input>
            <!-- <p class="error-message" v-if="errors.reviewer_text">{{ errors.reviewer_text}}</p> -->
            </div>

            <div class="wpsr-custom-review-field">
                <h3>Home Address</h3>
                <el-input
                    type="text"
                    placeholder="Home Address"
                    v-model="formData.home_address"
                    size="mini"
                >
                </el-input>
            <!-- <p class="error-message" v-if="errors.reviewer_rating">{{ errors.reviewer_rating}}</p>   -->
            </div>

            <div class="wpsr-custom-review-field">
                <h3>City</h3>
                <el-input
                    type="text"
                    placeholder="City"
                    v-model="formData.city"
                    size="mini"
                >
                </el-input>
            <!-- <p class="error-message" v-if="errors.review_time">{{ errors.review_time}}</p> -->
            </div>

            <div class="wpsr-custom-review-field">
                <h3>Country</h3>
                <el-input
                    type="text"
                    placeholder="Country"
                    v-model="formData.country"
                    size="mini"
                >
                </el-input>
            <!-- <p class="error-message" v-if="errors.review_platform">{{ errors.review_platform}}</p> -->
            </div>

            <el-button type="primary" @click="AddCustomerInfo" icon="el-icon-success" size="mini">Add Customer</el-button>

        </div>

    </div>
</template>

<script>

import {VueTelInput} from 'vue-tel-input';

export default {
     
    data(){
        return{

            
            errors:{
                phone_number:'',
                customer_name:'',
            },

            showform:false,

            formData:{
                customer_type:'walkincustomer',
                phone_number:'',
                customer_name:'',
                email_address:'',
                description:'',
                home_address:'',
                city:'',
                country:''
            },
            validNumber: false,
            demoPhone:'',
            hasClearButton:false

        }
    },

    components: {
        VueTelInput
    },

    methods:{

        clearUser(){

            let customer_type = this.formData.customer_type;
            this.formData = {};
            this.formData['customer_type']  = customer_type;

        },

        validPhoneNumber( val ){
            this.validNumber = val.valid;
            this.formData.phone_number = val.number.e164;
            console.log('phone number',val.number.e164);
        },

        findUser(){

            console.log(this.formData.phone_number);
            
            if( this.validNumber ){
                let info = { phone_number:this.formData.phone_number };
                let self = this;

                axios.post('/find-user',info)
                .then(response => {
                
                    let customer = response.data.customer;
                    
                    if(customer){

                        this.$notify({
                            title: 'Success',
                            message: 'Old customer!!',
                            type: 'success',
                        });

                        this.hasClearButton = true;

                        self.formData.customer_type = 'regular_customer';
                        self.formData.phone_number = customer.phone;
                        self.formData.email_address = customer.email;
                        self.formData.customer_name = customer.name;
                        self.formData.description = customer.description;
                        self.formData.home_address = customer.home_address;
                        self.formData.city = customer.city;
                        self.formData.country = customer.country;

                    }else{
                        
                        self.formData.customer_type = 'regular_customer';
                        self.formData.phone_number  = this.formData.phone_number;
                        self.formData.email_address = '';
                        self.formData.customer_name = '';
                        self.formData.description   = '';
                        self.formData.home_address  = '';
                        self.formData.city          = '';
                        self.formData.country       = '';

                        this.$notify({
                            title: 'Error',
                            message: 'Customer is not found!!',
                            type: 'error',
                        });

                    }

                    self.showform = true;

                })
                .catch(error => {
                    
                    console.log(error);

                })
                .then(() => {
                    
                });
            }else{
                this.$notify({
                    title: 'Error',
                    message: "Please provide a valid phone number",
                    type: 'error',
                });
            }

        },

        cancelModal(){
            this.$emit('hideEditAddDialog',true);
        },
        
     

        AddCustomerInfo(){

            if(!this.formData.phone_number){

                this.$message({

                    message: 'Provie a valid phone number!',
                    type: 'success'

                });

            }else{

                if(this.formData.phone_number && this.formData.customer_name){
                    let customerData = this.$store.getters.getCustomerData;
                    this.$emit('closeCustomerModal',true);
                }
                if(this.formData.phone_number === ''){
                    this.errors.phone_number    = 'Phone number is required';
                }
                if(this.formData.customer_name === ''){
                    this.errors.customer_name   = 'Customer name is required';
                }
            }

        }

    },

    watch: {
        'formData':{
            deep: true,
            handler() {

                // save the formdata from here for immediate updates if you want that.
                //console.log('watch handler: formData Changed!');
                this.$store.dispatch('customerDataAction',this.formData);

                if(this.formData.customer_name){
                    this.errors.customer_name = '';
                }
                if(this.formData.phone_number){
                    this.errors.phone_number = '';
                }

            }
        }
    },

    mounted(){
        
    }


   
}
</script>

<style lang="scss">

.customer-info{
    .el-button{
        margin-top:8px;
    }
}

    // .wpsr-editor-addnew-field{
    //     margin:20px;
    //     flex: 1;

    //     .small-description{
    //         color:#ccc;
    //         font-weight: bold;
    //         font-size: 16px;
    //     }
    //     .el-button{
    //         margin-top:10px;
    //     }
    // }

    // .wpsr-custom-review-modal-fields{
    //     .el-button{
    //         margin-top:10px;
    //     }
    // }

    // .wpsr-custom-review-modal-footer{
    //     .el-button{
    //         margin-top:10px;
    //     }
    // }

</style>