<template>

    <div>
        <!-- start: PAGE CONTENT -->
            <router-view></router-view>
        <!-- end: PAGE CONTENT-->
    </div>

</template>

<script>


  export default {

    props:['user'],
    
    methods:{
        setSettings(){
          this.$store.dispatch('settingsAction',window.settings.settings.settings.general_settings);
        },

        setUser(){
          this.$store.dispatch('userAction',window.user.user.name);
        }
    },

    mounted() {
      console.log('settings ',window.settings.settings.settings);
      this.setSettings();
      this.setUser();  
      this.getNotifications();

    }
    
  }
</script>

<style lang="scss">

</style>