<template>
    <!-- start: MAIN CONTAINER -->
        <div class="main-container">

            <div class="navbar-content">
                <left-sidebar></left-sidebar>
            </div>

            <!-- start: PAGE -->
            <div class="main-content">
                <!-- start: PANEL CONFIGURATION MODAL FORM -->
                <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                                <h4 class="modal-title">Panel Configuration</h4>
                            </div>
                            <div class="modal-body">
                                Here will be a configuration form
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                                <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- end: SPANEL CONFIGURATION MODAL FORM -->

                <div class="container">
                    <!-- start: PAGE HEADER -->
                    
                    <Admin></Admin>

                    <!-- <Admin :user="{{auth()->user()->load('notifications')}}"></Admin> -->

                </div>

            </div>
            <!-- end: PAGE -->
        </div>
    <!-- end: MAIN CONTAINER -->
</template>

<script>

import LeftSidebar from './Sidebar';
import Admin from './Admin';
export default {
    
    components:{
        LeftSidebar,
        Admin
    },

    created() {
     

    }

   
}
</script>