<template>
    <div>
        
    </div>
</template>

<script>
export default {
    
    data(){
        return{

        }
    },

    methods:{

        getTimeNow(){

            const monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];

            var today = new Date(); 
            var date = today.toJSON().slice(0, 10); 
            var nDate = date.slice(8, 10) + ' '  
                       + monthNames[today.getMonth()] + ' '  
                       + date.slice(0, 4); 

            //Make time clock
            let rc    = new Date();
            let hours = rc.getHours();
            let min   = rc.getMinutes();
            let sec   = rc.getSeconds();

            //am/pm
            let ampm = (hours<12)?'Am':'Pm';
            hours    = (hours<12)?hours:hours-12;


            hours = ('0'+hours).slice(-2);
            min   = ('0'+min).slice(-2);
            sec   = ('0'+sec).slice(-2);

            let time = hours+' : '+min+' : '+sec+' '+ampm;
            document.getElementById('real-time-clock').innerHTML = nDate+' || '+time;

            let self = this;
            let t = setTimeout( self.getTimeNow,500 );

        }

    },

    mounted(){
        this.getTimeNow();
    }

}
</script>