<template>
    <div>
        <!-- start: LOGO -->
        <router-link to="/admin" class="navbar-brand" v-if="getSettings.software_settings">
            {{ getSettings.software_settings.software_name }}
        </router-link>
        <!-- end: LOGO -->
    </div>
</template>

<script>
export default {
    
    data(){
        return{

        }
    },
    methods:{

    },
    mounted(){

    },

    computed:{

        getSettings(){
            return this.$store.getters.getSettings;
        }

    }

}
</script>