<template>
    
    <div class="containter">
        
        <div class="items">
            <h3>sorry the page you are looking for is not exists!! :(</h3>
            <img :src="'/images/sad.svg'" >
        </div>

    </div>

</template>

<script>
export default {
    data(){
        return{
            assets_url : window.variables.asset_url
        }
    }
}
</script>