<template>
    <!-- start: SIDEBAR -->
    <div class="main-navigation navbar-collapse collapse">

        <!-- start: MAIN MENU TOGGLER BUTTON -->
        <div class="navigation-toggler">
            <i class="clip-chevron-left"></i>
            <i class="clip-chevron-right"></i>
        </div>
        <!-- end: MAIN MENU TOGGLER BUTTON -->

        <!-- start: MAIN NAVIGATION MENU -->
        <ul class="main-navigation-menu">

            <li>
                <!--active open-->
                <router-link to="/admin/" active-class="fipos-tab-active" exact>
                    <i class="clip-home-3"></i>
                    <span class="title"> Dashboard </span><span class="selected"></span>
                </router-link>
            </li>

            <li>

                <router-link to="/admin/fluent/pos" active-class="fipos-tab-active" exact>
                    <i class="clip-screen"></i>
                    <span class="title"> Open Pos </span>
                    <span class="selected"></span>
                </router-link>

            </li>

            <!-- <li>
                <a href="javascript:void(0)">
                    <i class="clip-screen"></i>
                    <span class="title"> Users Management </span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <router-link to="/admin/users" active-class="fipos-tab-active" exact>
                            <span class="title"> Users </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/roles" active-class="fipos-tab-active" exact>
                            <span class="title"> Roles </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/permissions" active-class="fipos-tab-active" exact>
                            <span class="title"> Permissions </span>
                        </router-link>
                    </li>
                </ul>
            </li> -->

            <li>
                <a href="javascript:void(0)">
                    <i class="clip-cart"></i>
                    <span class="title"> Products </span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <router-link to="/admin/products" active-class="fipos-tab-active" exact>
                            <span class="title">All Products </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/add-product" active-class="fipos-tab-active" exact>
                            <span class="title"> Add Product </span>
                        </router-link>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <i class="clip-folder"></i>
                    <span class="title"> Categories </span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <router-link to="/admin/categories" active-class="fipos-tab-active" exact>
                            <span class="title">All Categories </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/add-category" active-class="fipos-tab-active" exact>
                            <span class="title"> Add Category </span>
                        </router-link>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <i class="clip-grid-6"></i>
                    <span class="title"> Brands </span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <router-link to="/admin/brands" active-class="fipos-tab-active" exact>
                            <span class="title">All Brands </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/add-brand" active-class="fipos-tab-active" exact>
                            <span class="title"> Add Brand </span>
                        </router-link>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <i class="clip-arrow-up-right-2"></i>
                    <span class="title"> Orders </span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <router-link to="/admin/orders" active-class="fipos-tab-active" exact>
                            <span class="title">All Orders </span>
                        </router-link>
                    </li>
                    <!-- <li>
                        <router-link to="/admin/add-brand" active-class="fipos-tab-active" exact>
                            <span class="title"> Add Brand </span>
                        </router-link>
                    </li> -->
                </ul>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <i class="clip-user"></i>
                    <span class="title"> Customers </span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <router-link to="/admin/customers" active-class="fipos-tab-active" exact>
                            <span class="title">All Customers </span>
                        </router-link>
                    </li>
                    <!-- <li>
                        <router-link to="/admin/add-brand" active-class="fipos-tab-active" exact>
                            <span class="title"> Add Brand </span>
                        </router-link>
                    </li> -->
                </ul>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <i class="clip-arrow-down-right-2"></i>
                    <span class="title"> Expenses </span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <router-link to="/admin/expenses" active-class="fipos-tab-active" exact>
                            <span class="title">All Expenses </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/add-expense" active-class="fipos-tab-active" exact>
                            <span class="title"> Add Expense </span>
                        </router-link>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <i class="clip-cog-2"></i>
                    <span class="title"> Settings </span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <router-link to="/admin/profile" active-class="fipos-tab-active" exact>
                            <span class="title">Profile </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/general" active-class="fipos-tab-active" exact>
                            <span class="title">General </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/pos-settings" active-class="fipos-tab-active" exact>
                            <span class="title">Pos Settings </span>
                        </router-link>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <i class="clip-bars"></i>
                    <span class="title"> Reports </span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <router-link to="/admin/reports" active-class="fipos-tab-active" exact>
                            <span class="title">Sales/Expense </span>
                        </router-link>
                    </li>
                    <!-- <li>
                        <router-link to="/admin/general" active-class="fipos-tab-active" exact>
                            <span class="title">General </span>
                        </router-link>
                    </li> -->
                </ul>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <i class="clip-bubble"></i>
                    <span class="title"> Social Network & Sms</span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <router-link to="/admin/social-platforms" active-class="fipos-tab-active" exact>
                            <span class="title">Social platforms </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/sms" active-class="fipos-tab-active" exact>
                            <span class="title">Sms </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/email" active-class="fipos-tab-active" exact>
                            <span class="title">Email </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/social-settings" active-class="fipos-tab-active" exact>
                            <span class="title">Sms & Social Settings </span>
                        </router-link>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- end: MAIN NAVIGATION MENU -->

        <!-- Delete form Confimation Modal -->

    </div>
    <!-- end: SIDEBAR -->

</template>

<script>

import PosManagement from "./../pages/pos-management/Pos";

export default {

    data(){

        return{
            posDialogVisible:false
        }

    },

    components:{
        PosManagement
    },

    methods:{

        openPos(){

            this.posDialogVisible = true;

        }

    }

}
</script>