<template>
    <div class="dropdown-area">
        <li class="dropdown">
            <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="el-icon-message-solid icon-bigger"></i>
                <span class="badge"> {{unreadNotifications.length}} </span>
            </a>
            <ul class="dropdown-menu posts user-notification">
                <li>
                    <span class="dropdown-menu-title"> You have {{unreadNotifications.length}} new notification</span>
                </li>
                <li>
                    <div class="drop-down-wrapper ps-container">
                        <ul class="scrollbar" id="style-5">
                            <div class="force-overflow">

                                <li v-if="unreadNotifications.length">
                                    <a style="color:green" href="#" @click.prevent="markAsRead">Mark all as read</a>
                                </li>

                                <li class="unseen-notification" v-for="(notification,index) in unreadNotifications">
                                    <a href="javascript:;">
                                        <div class="clearfix">
                                            <div class="thread-content">
                                                <span class="author">{{ notification.data.message }}</span>
                                                <span class="time"> {{ $dateFormatThree(notification.created_at) }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="seen-notification" v-for="(notification,index) in readNotifications">
                                    <a href="javascript:;">
                                        <div class="clearfix">
                                            <div class="thread-content">
                                                <span class="author">{{ notification.data.message }}</span>
                                                <span class="time"> {{ $dateFormatThree(notification.created_at) }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            
                            </div>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!-- start: USER DROPDOWN -->
        <li class="dropdown current-user">
            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#" aria-expanded="false">
                <!-- <img src="/admin-asset/images/avatar-2.jpg" class="circle-img" alt=""> -->
                <span class="username">{{ getUser }}</span>
                <i class="clip-chevron-down"></i>
            </a>
            <ul class="dropdown-menu user-profile">
                <li>
                    <router-link to="/admin/profile" class="router-link-adv">
                        <i class="clip-user-2"></i> &nbsp;My Profile
                    </router-link>
                </li>
                   
                <li>
                    <a href="#" @click.prevent="logoutUser">
                        <i class="clip-exit"></i> &nbsp;Log Out
                    </a>
                </li>
            </ul>
        </li>
        <!-- end: USER DROPDOWN -->

    </div>
</template>

<script>
export default{
    data(){
        return{
            userName:window.user.user.name
        }
    },
    methods:{

        logoutUser() {
           document.getElementById('logout-form').submit();
        },
        
    },

    computed:{
        getUser(){
            return this.$store.getters.getUser;
        } 
    },

    mounted(){
        
    }
}
</script>