<template>
    <div class="wpsr_editor_edit_item-group">
        <div v-for="field in fieldsMaps" :key="field.fieldKey">
            <file-upload-element :title="field.title" :field="field" :sync_value.sync="value[field.fieldKey]"></file-upload-element>
        </div>
    </div>
</template>

<script type="text/babel">

    import FileUploadElement from './FileUploadElement';

    export default {
        name: 'wpsr_chat_body_group',
        props: [ 'fieldsMaps','value'],
        components:{
            FileUploadElement
        },
        watch:{
            value(){
                console.log('val ',this.value);
            }
        }
    }
</script>