<template>

    <div>
    
        <p>Upload Images</p>
        
        <div class="uploader"

            @dragenter="onDragEnter"
            @dragleave="onDragLeave"
            @dragover.prevent
            @drop="onDrop"
            :class="{ dragging: isDragging  }"

        >

            <div class="upload-control" v-show="images.length || showSync === 'sync'">
                <label for="file">Select a file</label>
            </div>

            <div v-show="!syncLen">
                <i class="el-icon-upload"></i>
                <p>Drag your images here</p>
                <div>OR</div>
                <div class="file-input">
                    <label for="file">Select a file</label>
                    <input type="file" id="file" multiple
                        @change="onInputChange"
                    />
                </div>
            </div>
            
            <div class="images-preview" v-show="showSync === 'notsync'">
                <div class="img-wrapper" v-for="(image, index) in images" :key="index">

                    <img :src="image" :alt="`Image Uplaoder ${index}`">
                    <!-- <div class="details">
                        <span class="name" v-text="files[index].name"></span>
                        <span class="size" v-text="getFileSize(files[index].size)"></span>
                    </div> -->
                    
                </div>
            </div>

            <div class="images-preview" v-show="showSync === 'sync'">
                <div class="img-wrapper" v-for="(image, index) in sync_value" :key="index">

                    <img :src="'/images/products/'+image.name" :alt="`Image Uplaoder ${index}`">
                    <!-- <div class="details">
                        <span class="name" v-text="files[index].name"></span>
                        <span class="size" v-text="getFileSize(files[index].size)"></span>
                    </div> -->
                    
                </div>
            </div>

        </div>
    </div>

</template>

<script>
export default {

    props:['sync_value'],
    
    data(){

        return{
            isDragging :false,
            files:[],
            images:[],
            dragCount: 0,
            showSync:'sync',
            syncLen:0

        }

    },
    
    methods:{

        setValue(val) {
            this.component_value = val;
        },
        onInputChange(e){

            const files = e.target.files;
            Array.from(files).forEach(file => this.addImage(file));

            this.$emit('uploadFiles', this.files);
            this.showSync = 'notsync';
            this.syncLen = 1;

        },

        onDragEnter(e){
            e.preventDefault();
            this.dragCount++;
            this.isDragging  = true;
        },

        onDragLeave(e){
            e.preventDefault();
            e.stopPropagation();

            this.dragCount--;

            if (this.dragCount <= 0)
                this.isDragging = false;

            this.isDragging  = false;
        },

        onDrop(e){

            e.preventDefault();
            e.stopPropagation();
            this.isDragging = false;
            const files = e.dataTransfer.files;
            Array.from(files).forEach(file => this.addImage(file));

            this.$emit('uploadFiles',this.files);
            this.showSync = 'notsync';
            this.syncLen = 1;
        },

        addImage(file){

            if (!file.type.match('image.*')) {
                //this.$toastr.e(`${file.name} is not an image`);
                return;
            }

            this.files.push(file);

            this.component_value =  this.files;

            const img = new Image(),
                reader = new FileReader();
            reader.onload = (e) => this.images.push(e.target.result);
            reader.readAsDataURL(file);

        },
        getFileSize(size) {
            const fSExt = ['Bytes', 'KB', 'MB', 'GB'];
            let i = 0;
            
            while(size > 900) {
                size /= 1024;
                i++;
            }
            return `${(Math.round(size * 100) / 100)} ${fSExt[i]}`;
        },
    },

    watch:{
        sync_value(val){

            this.syncLen = val.length;
            //this.sync_value = val;

            console.log('sync', this.syncLen);
        }
    },

    mounted(){

        // if(this.sync_value.length>0){
        //     this.showSync = 'sync';
        // }

        // console.log('values ',this.sync_value)
    }

}
</script>