// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Import Libraries
@import '~element-ui/lib/theme-chalk/base.css';
@import '~element-ui/lib/theme-chalk/input-number.css';
@import '~element-ui/lib/theme-chalk/table.css';
@import '~element-ui/lib/theme-chalk/popover.css';
@import '~element-ui/lib/theme-chalk/loading.css';
@import '~element-ui/lib/theme-chalk/message.css';
@import '~element-ui/lib/theme-chalk/message-box.css';
@import '~element-ui/lib/theme-chalk/tooltip.css';
@import '~element-ui/lib/theme-chalk/pagination.css';
@import '~element-ui/lib/theme-chalk/collapse.css';
@import '~element-ui/lib/theme-chalk/collapse-item.css';
@import '~element-ui/lib/theme-chalk/dialog.css';
@import '~element-ui/lib/theme-chalk/aside.css';
@import '~element-ui/lib/theme-chalk/main.css';
@import '~element-ui/lib/theme-chalk/container.css';
@import '~element-ui/lib/theme-chalk/menu.css';
@import '~element-ui/lib/theme-chalk/menu-item.css';
@import '~element-ui/lib/theme-chalk/header.css';
@import '~element-ui/lib/theme-chalk/color-picker.css';
@import '~element-ui/lib/theme-chalk/form.css';
@import '~element-ui/lib/theme-chalk/form-item.css';
@import '~element-ui/lib/theme-chalk/radio-group.css';
@import '~element-ui/lib/theme-chalk/radio.css';
@import '~element-ui/lib/theme-chalk/switch.css';
@import '~element-ui/lib/theme-chalk/radio-button.css';
@import '~element-ui/lib/theme-chalk/button.css';
@import '~element-ui/lib/theme-chalk/button-group.css';
@import '~element-ui/lib/theme-chalk/tabs.css';
@import '~element-ui/lib/theme-chalk/tab-pane.css';
@import '~element-ui/lib/theme-chalk/steps.css';
@import '~element-ui/lib/theme-chalk/step.css';
@import '~element-ui/lib/theme-chalk/alert.css';
@import '~element-ui/lib/theme-chalk/option.css';
@import '~element-ui/lib/theme-chalk/option-group.css';
@import '~element-ui/lib/theme-chalk/row.css';
@import '~element-ui/lib/theme-chalk/col.css';
@import '~element-ui/lib/theme-chalk/collapse.css';
@import '~element-ui/lib/theme-chalk/collapse-item.css';
@import '~element-ui/lib/theme-chalk/transfer.css';
@import '~element-ui/lib/theme-chalk/date-picker.css';
@import '~element-ui/lib/theme-chalk/popover.css';
@import '~element-ui/lib/theme-chalk/dropdown.css';
@import '~element-ui/lib/theme-chalk/dropdown-menu.css';
@import '~element-ui/lib/theme-chalk/dropdown-item.css';
@import '~element-ui/lib/theme-chalk/upload.css';
@import '~element-ui/lib/theme-chalk/notification.css';
@import '~element-ui/lib/theme-chalk/rate.css';
@import '~element-ui/lib/theme-chalk/slider.css';
@import '~element-ui/lib/theme-chalk/badge.css';

@import './loader.scss';

@import './pos/pos.scss';

@import './category/add-category';
@import './category/all-category';

@import './dashboard/dashboard.scss';

@import './not-found-page/not-found.scss';

@import './order-customer/order-customer.scss';

@import './reports/reports.scss';

@import './settings/settings.scss';

@import './platforms/platforms.scss';

@import './navbar-toggle/navbar.scss';

@import './global/notfound.scss';

@import './elements-ui/file_upload';

@import './global/navigation';

@import './components/welcome.scss';

@import './elements-ui/element-customize.scss';

@import './pos/stripe.scss';

*:focus {
  outline: none;
}

.back-icon{

  height:18px;
  font-size: 18px;
  margin-top: 10px;

  .el-icon-arrow-left{
    height: 15px;
    font-size: 15px;
  }
}

.router-link-exact-active{
  color:#007AFF !important;
  font-weight:bold !important;
}

ul.main-navigation-menu li>ul.sub-menu>li>a.router-link-exact-active:hover{
  color:#007AFF !important;
  font-weight:bold !important !important;
}

.router-link-adv{
  font-weight: normal !important;
  color:#000000 !important;
}

.navbar-brand{
   color:#000000 !important;
   font-weight:normal !important;
}

.user-dropdown{
  margin-top:20px;
  margin-right:20px;
}

.user-dropdown li a{
  text-decoration:none;
}

.has-error{
  color:red;
}

.has-error-inp{
  border:1px solid red;
}

.dropdown-area{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  justify-content: center;
}

.icon-bigger{
  font-size: 20px;
}

.badge{
  margin-top: -21px;
}

.dropdown a:link{
  text-decoration: none;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 100%;
	width: 100%;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}


 /*
 *  STYLE 5
 */

#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
	background-color:#1c8899;
}

.all_payforms_wrapper{

  .fluentpos_pagination{
      margin:8px;
      float: right;
  }

}

.tab-wrapper{
  margin-top: 10px;
}

.product-detials-modal{
  .dialog-footer{
      /* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 600px) {
        display:flex;
        flex-direction:row;
        justify-content: flex-end;
      }
  }
}

.customer-info{

  h1{

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color:#00BCD4;

  }

}




