#loader {
    position: fixed;
    left: 53%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -75px 0 0 -75px;
    border: 2px solid #d9d9db;
    border-radius: 50%;
    border-top: 2px solid #7c5cc4;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

 /* KEYFRAMES */

 @keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
} 