
.ninja_intro_welcome {
    max-width: 600px;
    margin: 45px auto 0px;
    padding: 30px 20px;
    background: white;
    text-align: center;

    h2 {
        font-size: 30px;
    }

    .ninja_actions {
        margin-bottom: 30px;
    }

    .ninja_docs {
        text-align: left;
    }
}

