<template>

    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Categories / Edit Category
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <div class="back-icon">
            <el-button type="default" icon="el-icon-arrow-left" size="mini" @click="goBack">Previous Page</el-button> 
        </div>

        <!-- Not found page if no edit data found -->
        <div v-if="!hasEditData">
            <not-found-page></not-found-page>
        </div>

        <!-- Not fond page if no data found -->
        <div class="form-container" v-else>
            <el-row class="form-row">
                <el-col :span="12" class="form-col">
                    <p>Category Name :</p>
                    <el-input type="text" v-model="itemName" size="mini"></el-input>
                    <p v-if="errors.name" style="color:red">{{ errors.name[0] }}</p>
                    <el-button type="primary" size="mini" @click="updateCategory">Update</el-button>
                </el-col>
            </el-row>
        </div>
        <!-- end: PAGE CONTENT -->

    </div>

</template>

<script>

import NotFoundPage from './../../global/NotFoundPage';

export default {

    components:{
        NotFoundPage
    },
    
    data() {

        return {

            loading:false,
            itemName:'',
            errors:{},
            hasEditData:false,

        }

    },

    methods: {

        goBack() {

            this.$router.go(-1);

        },

        getPostById() {

            this.loading = true;

            let postId = this.$route.params.category_id

            axios.get('/category/edit/'+postId)
            .then(response => {

                this.itemName = response.data.editData.name;
                this.hasEditData = true;

            })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                    this.loading = false; 

                });

        },
        
        updateCategory() {

            this.loading = true;

            let postId = this.$route.params.category_id;

            axios.put('/category/update/'+postId, {

                name: this.itemName

            })
            .then(response => {

                this.$notify({

                    title: 'Success',
                    message: 'Category Saved!',
                    type: 'success',
                    position: 'top-right'

                });

                this.$router.push('/admin/categories');

            })
            .catch(error => {

                if(error.response) {

                    this.errors = error.response.data.errors;

                }else {

                    this.$notify({

                        title: 'Error',
                        message: 'Something went wrong!',
                        type: 'error',
                        position: 'top-right'

                    }); 

                }
            })
            .then(() => {
                this.loading = false;
            });

        }

    },

    mounted() {

        this.getPostById();
        
    }
}
</script>
