.user-profile{
    @media only screen and (max-width: 600px) {
        left: -120px !important;
    }

}
.user-notification {
    @media only screen and (max-width: 600px) {
        left: -175px !important;
    }
}
