<template>
    <div id="target-scroll" v-loading="loading" element-loading-text="Loading...Please Wait...">

        <el-row>

            <el-col>
                <div class="date-picker">
                    <date-range-picker 
                        @update="update"
                        :to='toDate'
                        :from='fromDate'
                        :panel='panelNow'
                        :theme='theme'
                    />
                </div>
            </el-col>

            <el-col>
                <div class="reports-wrapper">

                    <div class="reports-details">

                        <h2>Charts of Sales and Expenses</h2>
                        <!-- <h2 class="item">total sale    :  {{ totalSale    }} <span v-if="getSettings.currency_settings">{{ getSettings.currency_settings.currency_symbol }}</span>  </h2>
                        <h2 class="item">total expense :  {{ totalExpense }} <span v-if="getSettings.currency_settings">{{ getSettings.currency_settings.currency_symbol }}</span> </h2>
                        <h2 class="item">total profit  :  {{ profit       }} <span v-if="getSettings.currency_settings">{{ getSettings.currency_settings.currency_symbol }}</span> </h2> -->
                    </div>

                    <div class="pie-chart-container" id="reports">

                        <div v-if="loadChart" class="chart">

                            <pie-chart
                                :data="pieChartData"
                                :height="300"
                                :width="400"
                            />

                        </div>

                        <div v-if="loadChart" class="chart">

                            <bar-chart
                                :data="barChartData"
                                :height="300"
                                :width="400"
                            />

                        </div>

                    </div>

                </div>
            </el-col>

        </el-row>

    </div>
</template>

<script>

import PieChart from './../../global/charts/PieChart';
import BarChart from './../../global/charts/BarChart';

export default {

    components: { PieChart,BarChart },

    data() {

        return {

            theme :{
                primary: '#C208DC',
                secondary: '#2D3E50',
                ternary: '#93A0BD',
                border: '#e6e6e6',
                light: '#ffffff',
                dark: '#000000',
                hovers: {
                    day: '#CCC',
                    range: '#e6e6e6'
                }
            },

            totalSale:0,
            totalExpense:0,
            profit:0,

            pieChartData: {

                hoverBackgroundColor: "red",
                hoverBorderWidth: 10,
                labels: ["Income", "Expense", "Profit"],
                datasets: [
                    {
                        label: "Data One",
                        backgroundColor: ["#00D8FF", "#C40F64", "#E46651"],
                        data: []
                    }
                ]

            },

            barChartData: {

                hoverBackgroundColor: "red",
                hoverBorderWidth: 10,
                labels: ["Income", "Expense", "Profit"],
                datasets: [
                    {
                        label: ["Income"],
                        backgroundColor: ["#00D8FF", "#C40F64", "#E46651"],
                        data: []
                    }
                ]

            },

            loadChart:false,
            toDate:new Date().toISOString(),
            fromDate:new Date().toISOString(),
            panelNow:'range',

            loading:false
            
        }

    },

    methods: {

        selectDate(val) {

        },

        scrollBottomToTop() {

            window.scrollTo({ left: 0, top: 9999, behavior: "smooth" }); 

        },

        update(values) {

            this.loading    = true;
            let info = {

                'to'    :   values.to,
                'from'  :   values.from,
                'panel' :   values.panel,

            }

            let that = this;
            this.loadChart = false;

            axios.post('/reports',info)
                .then(response => {
                    
                    if( response.data ) {
                        
                        this.totalSale      = response.data.range_sell;
                        this.totalExpense   = response.data.range_expense;
                        this.profit         = this.totalSale - this.totalExpense;

                        this.pieChartData.datasets[0].data = [];
                        this.barChartData.datasets[0].data = [];
                            
                        let reports = [];
                        reports.push(this.totalSale);
                        reports.push(this.totalExpense);
                        reports.push(this.profit);

                        this.pieChartData.datasets[0].data = reports;
                        this.barChartData.datasets[0].data = reports;

                        this.loadChart = true;

                        this.loading = false; 
                        this.scrollBottomToTop();

                    }
                    
                })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                   this.loading = false; 

                });

        }

    },

    computed:{

        getSettings() {

            return this.$store.getters.getSettings;

        }

    },

    mounted(){

        let values = {

            'to': this.toDate,
            'from':this.fromDate,
            'panel':this.panelNow

        }

        this.update(values);

    }

}
</script>