.containter{
    display: flex;
    max-height: 30em;
    .items{
        display: flex;
        justify-content: center; 
        align-items: center; 
        align-self:center;
        width:100%;
        flex-direction: column;
        img{
            display: block;
        }
    }
}