<template>

    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Expenses / Edit Expense
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->


        <!-- start: PAGE CONTENT -->
        <div class="back-icon">
            <el-button type="default" icon="el-icon-arrow-left" size="mini" @click="goBack">Previous Page</el-button> 
        </div>

        <!-- start: Not found page -->
        <div v-if="!hasEditData">
            <not-found-page></not-found-page>
        </div>
        <!-- end: Not fond page  -->

        <div class="form-container" v-else>
            <el-row class="form-row">
                <el-col :span="12" class="form-col">

                    <div class="block">
                        <p>Date :</p>
                        <el-date-picker
                        v-model="expense_date"
                        type="date"
                        placeholder="Pick a day"
                        size="mini"
                        value-format="yyyy-MM-dd HH:mm:ss">
                        </el-date-picker>
                        <p v-if="errors.expense_date" style="color:red">{{ errors.expense_date[0] }}</p>
                    </div>

                    <div>
                        <p>Reference Name :</p>
                        <el-input type="text" v-model="reference" size="mini"></el-input>
                        <p v-if="errors.reference" style="color:red">{{ errors.reference[0] }}</p>
                    </div>

                    <div>
                        <p>Total Expense :</p>
                        <el-input type="number" v-model="total_expense" size="mini"></el-input>
                        <p v-if="errors.total_expense" style="color:red">{{ errors.total_expense[0] }}</p>
                    </div>

                    <div>
                        <p>Add Description :</p>
                        <el-input type="textarea" placeholder="Description" row="3" v-model="description" size="mini"></el-input>
                        <p v-if="errors.description" style="color:red">{{ errors.description[0] }}</p>
                    </div>
                    <el-button type="primary" size="mini" @click="updateExpense">Update</el-button>
                
                </el-col>
            </el-row>
        </div>

        <!-- end: PAGE CONTENT -->

    </div>

</template>

<script>

import NotFoundPage from './../../global/NotFoundPage';

export default {

    components: {

        NotFoundPage

    },
    
    data() {

        return {

            loading:false,
            itemName:'',
            errors:{},
            reference:'',
            expense_date:'',
            description:'',
            total_expense:'',
            hasEditData:false,
            
        }

    },

    methods: {

        goBack() {

            this.$router.go(-1);

        },

        getPostById() {

            this.loading = true;

            let postId = this.$route.params.expense_id

            axios.get('/expense/edit/'+postId)
            .then(response => {
                
                let expenseData = response.data.editData;
                this.reference = expenseData.reference;
                this.expense_date = expenseData.expense_date;
                this.description = expenseData.description;
                this.total_expense = expenseData.total_expense;
                this.hasEditData = true;

            })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                    this.loading = false; 

                });

        },
        
        updateExpense() {

            this.loading = true;

            let postId = this.$route.params.expense_id;
            let info   = {

                'reference'     : this.reference,
                'expense_date'  : this.expense_date,
                'description'   : this.description,
                'total_expense' : this.total_expense,
                
            };

            axios.put('/expense/update/'+postId, 

                info

            )
            .then(response => {

                this.$notify({

                    title: 'Success',
                    message: 'Expense Saved!',
                    type: 'success',
                    position: 'top-right'
                    
                });

                this.$router.push('/admin/expenses');

            })
            .catch(error => {

                if(error.response){

                    this.errors = error.response.data.errors;
                }else{

                    this.$notify({

                        title: 'Error',
                        message: 'Something went wrong!',
                        type: 'error',
                        position: 'top-right'
                        
                    }); 

                }
                    
            })
            .then(() => {
                this.loading = false;
            });

        }

    },

    mounted() {

        this.getPostById();
        
    }
}
</script>
