/* Selectric Dropdown */

.selectric-wrapper {
  margin: 40px auto;
  width: 50%;
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slick-list {

    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }

}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {

    float: left;
    height: 100%;
    min-height: 1px;
    img {
        display: block;
        &.slick-loading {
            padding-bottom: 100%;
        }
    }
    display: none;
    &.dragging img {
        pointer-events: none;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

/* Icons */



/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    &:focus {
        outline: none;
    }
    &.slick-disabled:before {
        opacity: 0.25;
    }
}

.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
    &:before {
        content: '\2190';
    }
}

.slick-next {
    right: -25px;
    &:before {
        content: '\2192';
    }
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0px 5px;
        padding: 0px;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            outline: none;
            &:focus {
                outline: none;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '\2022';
                width: 20px;
                height: 20px;
                font-family: "slick";
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                color: black;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            opacity: 0.75;
        }
    }
}

.content {
    width: 80%;
    margin: auto;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0px 5px;
        padding: 0px;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            outline: none;
            &:focus {
                outline: none;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '\2022';
                width: 20px;
                height: 20px;
                font-family: "slick";
                // font-size: 6px;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
                // color: black;
                color: white;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            opacity: 0.75;
        }
    }
}

.category {
    position: relative;
    .el-button{
        margin:25px;
    }
    p{
        margin: 0px;
    }
}

.prdocut-details{
    .grid {
        position: relative;
        padding-top: 37px;
        background: #fff;
        width:100%;
    }
    .grid-container {
        overflow-y: auto;
        height: 200px;
    }
    table {
        border-spacing: 0;
        width:100%;
    }
    td + td {
    }
    td, th {
        background: #fff;
        color: #000;
        padding: 10px 25px;
    }
    th {
        height: 0;
        line-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: #000;
        border: none;
        white-space: nowrap;
    }
    th div{
        position: absolute;
        background: transparent;
        color: #000;
        padding: 9px 25px;
        top: 0;
        margin-left: -25px;
        line-height: normal;
    }
}



$title-color: #222;
$font-color: #777;
$light-gray: #eee;
$primary: #E91E63;
$secondary: #42A5F5;

$product-box-shadow: 0px 0px 0px 1px $light-gray;

.pos-main-container{
    overflow:hidden;
    margin-top:50px;
    height:100%;
    @media only screen and (max-width: 600px) {
        margin-top: 105px;
    }

    .el-col-12 {
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }

    .left-container{
        flex:1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color:aquamarine;
        height: 90vh;
        width:100%;

        .total-cart-details{
            display: flex;
            justify-content:space-between;
            .total-cart-right{
                flex:1;
            }
            .total-cart-left{
                flex:1;
            }
        }

        .product-header{

            margin:5px 5px 5px 30px;

            .btn-group{

            }
        }
        
        .cart-product-info{
            margin-left:30px;
            .product-sub-details{
                display: flex;
                justify-content:space-between;  
                margin-top: 30px;  
                .sub-details-left{
                    flex:1;
                }
                .sub-details-right{
                    flex:1;
                    margin-right: 50px;
                    .sub-total{
                        width: 80px; 
                        padding-right:2rem; 
                    }
                    .demo-input-label {
                        display: inline-block;
                        width: 80px;
                    }
                    .el-input{
                        width:50px;
                    }
                }
            }
        }

    }

    .right-container{
        margin:10px;
        overflow:hidden;
        overflow: hidden;
        direction: column;
        display: block;

        .main {

            background: #2b2b2b;
            color: #fff;
            margin: 0px;
            padding: 8px;

            a{
                color: #ffffff;
                text-decoration: none;
            }

            a:link{
                color: #ffffff;
                text-decoration: none;
            }

            a:focus, a:hover {
                color: #409EFF;
                text-decoration: none;
                font-weight: bold;
                font-size:13px;
            }

        }

        .btn-style{
            font-size: 16px;
            font-weight: 700;
        }

        .category-section{
            height: 50px;
            position: absolute;
            z-index: 2;
            overflow: hidden;
            display: block;
            background-color: #fff;
            width:100%;
        }

        .product-section{
            margin-top:50px;
            width:100%;

            .header_wrapper{
                margin-bottom:10px;
            }

            .not-found-products{
                width: 100%;
                min-height: 100%;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .product-lists{
                height: 290px;
                max-height: 290px;
                display: flex;
                overflow:scroll;

                @media only screen and (max-width: 600px) {
                    height: 200px;
                    max-height: 290px;
                    overflow:scroll;
                }

                .product-grid {
                    &.product-grid--flexbox {
                        .product-grid__wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            align-content: center;
                            justify-content: center;
                        }
                        
                        .product-grid__title {                            
                            &:after { display: none; 
                            }
                        }
                    }
                    

                    &__wrapper {

                    }
                    
                    &__product-wrapper {
                        padding: 5px;
                        float: left;
                    }
                    
                    &__product {
                        padding: 1rem;
                        position: relative;
                        cursor: pointer;
                        background: #fff;
                        border-radius: 4px;
                        &:hover {
                            box-shadow: $product-box-shadow;                            
                            .product-grid__extend {
                                display: block;
                                z-index: 1;
                            }
                        }
                    }
                    
                    &__img-wrapper {
                        width: 100%;
                        text-align: center;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        height: 150px;
                    }
                    
                    &__img {
                        max-width: 100px;
                        height: auto;
                        max-height: 100%;

                    }
                    
                    &__title {
                        margin-top: .875rem;
                        display: block;
                        font-size: 1.125em;
                        color: $title-color;
                        height: 3em;
                        overflow: hidden;
                        position: relative;
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 2.4em;
                            height: 1.5em; 
                            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
                        }

                    }
                    
                    &__price {
                        color: $primary;
                        font-weight: bold;
                        letter-spacing: .4px;
                    }
                    
                    &__extend-wrapper {
                        position: relative;
                        transition: 1s ease;
                    }
                    
                    &__extend {
                        display: none;
                        position: absolute;
                        padding: 0 1rem 1rem 1rem;
                        margin: .4375rem -1rem 0;
                        box-shadow: $product-box-shadow;
                        background: #fff;
                        border-radius: 0 0 4px 4px;
                        
                        &:before {
                            content: "";
                            height: .875rem;
                            width: 100%;
                            position: absolute;
                            top: -.4375rem;
                            left: 0;
                            background: #fff;
                        }
                    }
                    
                    &__description {
                        font-size: .875em;
                        margin-top: .4375rem;
                        margin-bottom: 0;
                    }
                    
                    &__btn {
                        display: inline-block;
                        font-size: .875em;
                        color: $font-color;
                        background: $light-gray;
                        padding: .5em .625em;
                        margin-top: .875rem;
                        margin-right: .625rem;
                        cursor: pointer;
                        border-radius: 4px;
                        i.fa { margin-right: .3125rem;}
                    }

                    .btn-group{
                        display: flex;
                        .product-grid__add-to-cart {
                            color: #fff;
                            background: $primary;
                            &:hover { background: lighten($primary, 10%); }
                        }
                        .product-grid__view {
                            color: $font-color;
                            background: $light-gray;
                            &:hover { background: lighten($light-gray, 10%); }
                        }
                    }
                }

            }
        }

        .qrcode-section{

            .input-fields{
                display: flex;
                align-content: space-between;
                .last-field{
                    //align-content: space-between;
                    margin-left:20px;
                }
            }
            .el-button{
                margin-top: 10px;
            }
        }
    }
}

.qty{
    @media only screen and (max-width: 600px) {
        .el-input{
            width: 50px;
        }
    }
}


