<template>
	
	<div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

    <!-- start: PAGE HEADER -->
    <div class="row">
        <div class="col-sm-12">
            <!-- start: STYLE SELECTOR BOX -->
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li>
                    <i class="clip-file"></i>
                    <router-link to="/admin">
                        Dashboard
                    </router-link>
                </li>
                <li class="active">
                    User Management / Permissions
                </li>
            </ol>
            <!-- end: PAGE TITLE & BREADCRUMB -->
        </div>
    </div>
    <!-- end: PAGE HEADER -->

    <welcome v-if="!hasPermissions" :additionalData="welcomeData" @create="createPermissionModal = true"/>

    <!--We Have forms Now Start-->
    <div class="all_payforms_wrapper payform_section" v-else>
			  
      <!--Header start-->
      <div class="payform_section_header all_payment_form_wrapper">
          <h1 class="payform_section_title">
              {{ 'All Permissions' }}
          </h1>
          <div class="payform_section_actions">

              <div class="all_bulk_actions">
                <el-select v-model="bulkValue" clearable placeholder="Select" size="mini">
                  <el-option
                    v-for="item in bulkOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
                <el-button type="primary"  @click.prevent="doAction()" size="mini">Apply</el-button>
              </div>

              <div class="payform_action search_action">

                  <el-input @keyup.enter.native="getAllPermissions()" size="small" placeholder="Search" v-model="search_string" class="input-with-select">
                      <el-button @click="getAllPermissions()" slot="append" icon="el-icon-search"></el-button>
                  </el-input>

                  <el-button class="payform_action_button" @click="createModalClicked()" size="small" type="primary">
                    {{ 'Add New Permission'  }}
                  </el-button>

              </div>
              
          </div>

      </div>
      <!--header end-->

      <!--table start-->
        <div class="payform_section_body">

  			  <el-table style="width: 100%" :data="allPermissions" @selection-change="handleSelectionChange" ref="multipleTable">
              
  			  		<el-table-column type="selection" width="55">
  			  		</el-table-column>

  			    	<el-table-column type="expand" >
  				      <template slot-scope="props">
                  <p>Id: {{ props.row.id }}</p>
  				        <p>Name: {{ props.row.name }}</p>
  				        <p>Created At: {{ props.row.created_at }}</p>
  				      </template>
  				    </el-table-column>

              <el-table-column
                label="Id"
                prop="id">
              </el-table-column>

  				    <el-table-column
  				      label="Date"
  				      prop="created_at">
  				    </el-table-column>

  				    <el-table-column
  				      label="Name"
  				      prop="name">
  				    </el-table-column>

              <el-table-column label="Actions">
                  <template slot-scope="scope">
                      <a @click.prevent="confirmEdit(scope.row)"><i class="el-icon-edit"></i></a>
                      <a @click.prevent="confirmDelete(scope.row)"><i class="el-icon-delete"></i></a>
                  </template>
              </el-table-column>


  			  </el-table>
  			</div>
      <!--table end-->

      <div class="wpsr_pagination">
          <el-pagination
              background
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="page_number"
              :page-size="per_page"
              :page-sizes="pageSizes"
              layout="total, sizes, prev, pager, next"
              :total="total">
          </el-pagination>
      </div>


		</div>
    <!--We Have forms Now End-->

      <el-dialog top="40px" width="70%" :append-to-body="true"
               title="Start with a Pre-Defined Form or Create a Blank Form" :visible.sync="createPermissionModal">
          <div class="pay_form_modal_body">

              <form>

                <div class="form-group">
                  <el-input size="mini" :class="{'has-error-inp' : allErrors.errors.name.length}" v-model="editedItem"></el-input>
                </div>
                <span class="has-error" v-if="allErrors.errors.name">{{ allErrors.errors.name[0] }}</span>

                <div class="demo_form_cards">
                   <el-button size="mini" type="primary" @click="saveItem">Add New</el-button>
                </div>

              </form>


          </div>
          
      </el-dialog>

      <!-- Delete form Confimation Modal -->
      <el-dialog
          title="Are You Sure, You want to delete selected data?"
          :visible.sync="deleteDialogVisible"
          width="60%">
          <div class="modal_body">
              <p>All the status assoscilate with this will be deleted</p>                     
          </div>
          <span slot="footer" class="dialog-footer">
              <el-button @click="deleteDialogVisible = false">Cancel</el-button>
              <el-button type="primary" @click="deleteNow()">Confirm</el-button>
          </span>
      </el-dialog>

      <!-- Edit form Confimation Modal -->
      <el-dialog
          title="Are You Sure, You want to edit selected data?"
          :visible.sync="editDialogVisible"
          width="60%">
          <div class="modal_body">
              <p>Name</p> 
              <el-input size="mini" v-model="editedItem.name"></el-input>                    
          </div>
          <span slot="footer" class="dialog-footer">
              <el-button @click="editDialogVisible = false">Cancel</el-button>
              <el-button type="primary" @click="editNow()">Save</el-button>
          </span>
      </el-dialog>

      <!-- Delete Multiple form Confimation Modal -->
      <el-dialog
          title="Are You Sure, You want to change these selected data?"
          :visible.sync="selectVisibleMultiple"
          width="60%">
          <div class="modal_body">
              <p>All the status assoscilate with this will be {{ bulkValue }}</p>                     
          </div>
          <span slot="footer" class="dialog-footer">
              <el-button @click="selectVisibleMultiple = false">Cancel</el-button>
              <el-button type="primary" @click="multipleSelectAction()">Confirm</el-button>
          </span>
      </el-dialog>



	</div>

  
</template>



<style type="scss">

	.body {
    * {
      box-sizing: border-box;
    }
    .el-form-item__content {
      line-height: 120%;
    }
  }





</style>

<script>
  
  import Welcome from './../../Common/Welcome';

  export default {

    components: { Welcome },

    data() {
      return {

        allErrors:{
          errors:{
            name:[

            ]
          }
        },

        allPermissions:[],

        Errors:false,

        editedItem:'',
        search_string:'',
      	hasPermissions: false,
      	createPermissionModal: false,
      	loading: false,
        welcomeData:{
            'name':'Permission'
        },
      	multipleSelection: [],

        per_page: 10,
        page_number: 1,
        total: 0,
        pageSizes: [5,10, 20, 30, 40, 50, 100, 200],

        deleteDialogVisible:false,
        deleteingDate:false,
        editedItem:false,
        editDialogVisible:false,

        bulkOptions:[{
          value: 'delete',
          label: 'Delete All'
        }],
        bulkValue: '',
        selectVisibleMultiple:false

      }
    },
    methods:{

      doAction(){

          if (!this.multipleSelection.length || !this.bulkValue) {
              console.log('need to select one to ' + this.bulkValue);
              this.$notify({
                  title: 'Error',
                  message: 'Please select one to continue',
                  type: 'error',
                  position: 'top-right'
              });
          }else if (this.bulkValue == 'delete') {

              this.selectVisibleMultiple = true;
              console.log('selected items is = ' + this.multipleSelection.length + ' and we have to ' + this.bulkValue);
          
          }

      },

      multipleSelectAction(){

        console.log(jQuery('meta[name="csrf-token"]').attr('content'));
        const auth = {
            headers:{'X-CSRF-TOKEN': jQuery('meta[name="csrf-token"]').attr('content')}
        };
        console.log(this.multipleSelection);
        axios.post('/permission/deletemultiple', {
            row_ids: this.multipleSelection,
            bulk: this.bulkValue, 
        },auth)
            .then(response => {

                console.log(response);
                this.$notify({
                    title: 'Success',
                    message: response.message,
                    type: 'success',
                    position: 'top-right'
                });

                this.getAllPermissions();

            })
            .catch(error => {
                console.log(error);
            })
            .then(() => {
                this.selectVisibleMultiple = false;
            });


      },

      handleSizeChange(val) {
          this.per_page = val;
          this.getAllPermissions();
      },

      handleCurrentChange(val) {
          this.page_number = val;
          this.getAllPermissions();
      },

    	handleSelectionChange(val){
    		this.multipleSelection = val;
    	},

      createModalClicked(){
          this.allErrors.errors.name=[];
          this.createPermissionModal = true;
          this.editedItem = '';
      },

      getAllPermissions(){

        this.loading = true;

        let page = this.page_number;
        let perPage =  this.per_page;
        let search  = this.search_string;

        this.$get('/api/permissions?page='+page+'&paginate='+perPage+'&s='+search)
          .then(response => {

            console.log(response);
            this.allPermissions=response.permissions.data; 
            this.total = response.total;
            this.hasPermissions = true;

          })
          .fail(error => {
              
          })
          .always(() => {
             this.loading = false;
          });

      },

     

      saveItem(){
          let permissionName = this.editedItem;
          
          if(permissionName){
              axios.post('/api/permissions/', {
                  name: permissionName
              })
              .then(response => {

                  console.log(response)

                  this.$notify({
                      title: 'Success',
                      message: response.message,
                      type: 'success',
                      position: 'top-right'
                  });

                  this.getAllPermissions();

                  this.allErrors.errors.name=[];
                  this.editedItem = '';
                  this.createPermissionModal = false;

              })
              .catch(error => {
                  if( error.responseJSON.errors ){
                    this.allErrors = error.responseJSON; 
                  }else{
                    this.allErrors.errors.name=['permission already exists'];
                  }
              })
              .then(() => {
                 
              });
          }else{
              this.allErrors.errors.name=['Permission field is required'];
          }
          
      },

      confirmDelete(deleteData){
          this.deleteingDate = deleteData;
          this.deleteDialogVisible = true;
      },

      deleteNow(){

        let id = this.deleteingDate.id;

        axios.delete('/api/permissions/'+id)
          .then(response => {
              this.$notify({
                  title: 'Success',
                  message: 'Successfully Deleted!',
                  type: 'success',
                  position: 'top-right'
              });
              this.getAllPermissions();
          })
          .catch(error => {

            this.$notify({
                title: 'Error',
                message: error.responseJSON?error.responseJSON.data.message:'Error',
                type: 'error',
                position: 'top-right'
            });

          })
          .then(() => {
              this.deleteDialogVisible = false;
              this.deleteingForm = false;
          });

      },

      confirmEdit(edit_data){
          this.editedItem = edit_data;
          this.editDialogVisible = true;
      },
      editNow(){

        axios.put('/api/permissions/'+this.editedItem.id,this.editedItem)
          .then(response => {
              console.log(response)
              this.$notify({
                  title: 'Successfully Updated',
                  message: response.message,
                  type: 'success',
                  position: 'top-right'
              });
              this.getAllPermissions();
          })
          .catch(error => {

            this.$notify({
                title: 'Error',
                message: error.responseJSON.data.message,
                type: 'error',
                position: 'top-right'
            });

          })
          .then(() => {
              this.editDialogVisible = false;
              this.editedItem = false;
          });

          

      }

    },

    mounted(){

      this.getAllPermissions();

    }

  }
</script>