<template>
  
  <div v-loading="loading" class="wppayforms">

    <!-- start: PAGE HEADER -->
    <div class="row">
        <div class="col-sm-12">
            <!-- start: STYLE SELECTOR BOX -->
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li>
                    <i class="clip-file"></i>
                    <router-link to="/admin">
                      Dashboard  
                    </router-link>
                </li>
                <li class="active">
                  User Management /  Roles
                </li>
            </ol>
            <!-- end: PAGE TITLE & BREADCRUMB -->
        </div>
    </div>
    <!-- end: PAGE HEADER -->

    <welcome v-if="!hasRoles" :additionalData="welcomeData" @create="createRolesModal = true"/>

    <!--We Have forms Now Start-->
    <div class="all_payforms_wrapper payform_section" v-else>
        
      <!--Header start-->
      <div class="payform_section_header all_payment_form_wrapper">
          <h1 class="payform_section_title">
              {{ 'All Roles' }}
          </h1>
          <div class="payform_section_actions">
              <div class="payform_action search_action">

                  <el-input @keyup.enter.native="getAllRoles()" size="small" placeholder="Search" v-model="search_string" class="input-with-select">
                      <el-button @click="getAllRoles()" slot="append" icon="el-icon-search"></el-button>
                  </el-input>

              </div>
              <el-button class="payform_action" @click="createRolesModal = true" size="small" type="primary">
                  {{ 'Add New Role'  }}
              </el-button>
          </div>
      </div>
      <!--header end-->

       <!--table start-->
        <div class="payform_section_body">

          <el-table style="width: 100%" :data="allRoles" @selection-change="handleSelectionChange" ref="multipleTable">
              
              <el-table-column type="selection" width="55">
              </el-table-column>

              <el-table-column type="expand" >
                <template slot-scope="props">
                  <p>Id: {{ props.row.id }}</p>
                  <p>Name: {{ props.row.name }}</p>
                  <p>Created At: {{ props.row.created_at }}</p>
                </template>
              </el-table-column>

              <el-table-column
                label="Id"
                prop="id">
              </el-table-column>

              <el-table-column
                label="Date"
                prop="created_at">
              </el-table-column>

              <el-table-column
                label="Name"
                prop="name">
              </el-table-column>

              <el-table-column label="Permissions">
                <template slot-scope="scope">
                    <p v-for="permission in scope.row.permissions" :key="permission.id">{{ permission.name+', ' }}</p>
                </template>
              </el-table-column>

              <el-table-column label="Actions">
                  <template slot-scope="scope">
                      <a><i class="el-icon-edit"></i></a>
                      <a><i class="el-icon-delete"></i></a>
                  </template>
              </el-table-column>


          </el-table>
        </div>
      <!--table end-->


      <div class="wpsr_pagination">
          <el-pagination
              background
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="page_number"
              :page-size="per_page"
              :page-sizes="pageSizes"
              layout="total, sizes, prev, pager, next"
              :total="total">
          </el-pagination>
      </div>


    </div>
    <!--We Have forms Now End-->

      <!--start Add new role dialog modal -->
      <el-dialog top="40px" width="70%" :append-to-body="true"
               title="Start with a Pre-Defined Form or Create a Blank Form" :visible.sync="createRolesModal">
          <div class="pay_form_modal_body">

              <form>

                <div class="form-group">
                  <el-input size="mini" :class="{'has-error-inp' : allErrors.errors.name.length}" v-model="roleName"></el-input>


                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllRoles">Check all</el-checkbox>

                <div style="margin: 15px 0;"></div>

                <el-checkbox-group v-model="checkedRoles" @change="handleCheckedRoles">
                  <el-checkbox v-for="permission in all_permissions" :label="permission.name" :key="permission.id">{{permission.name}}</el-checkbox>
                </el-checkbox-group>

                </div>

                <span class="has-error" v-if="allErrors.errors.name">{{ allErrors.errors.name[0] }}</span>

                <div class="demo_form_cards">
                   <el-button size="mini" type="primary" @click="saveItem">Add New</el-button>
                </div>

              </form>

          </div>
          
      </el-dialog>
      <!--end Add new role dialog modal end-->

  </div>

  
</template>


<script>
  
  import Welcome from './../../Common/Welcome';

  export default {

    components: { Welcome },

    data() {
      return {

        isIndeterminate: true,
        checkAll: false,
        checkedRoles:[],

        search_string:'',
        hasRoles: false,

        //isVisibleCreateModal:false,

        createRolesModal: false,
        loading: false,
        multipleSelection: [],

        allErrors:{
          errors:{
            name:[

            ]
          }
        },

        //add item 
        roleName:'',

        welcomeData:{
            'name':'Role'
        },
        permissions:[],
        all_permissions:[],

        allRoles:[],

        per_page: 10,
        page_number: 1,
        total: 0,
        pageSizes: [5,10, 20, 30, 40, 50, 100, 200],
        
      }
    },
    methods:{

      //pagination
      handleSizeChange(val) {

          this.per_page = val;
          this.getAllRoles();

      },

      handleCurrentChange(val) {

          this.page_number = val;
          this.getAllRoles();

      },

      handleSelectionChange(val){
        this.multipleSelection = val;
      },

      //multiple select checkbox
      handleCheckAllRoles(val) {

        //this.allRoles=val;
        this.checkedRoles = val ? this.allRoles : [];
        this.isIndeterminate = false;

      },
      handleCheckedRoles(value) {

        //this.allRoles=value;
        let checkedCount = value.length;
        this.checkAll = checkedCount === this.allRoles.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.allRoles.length;

      },

      saveItem(){
            const auth = {
              headers:{'X-CSRF-TOKEN': jQuery('meta[name="csrf-token"]').attr('content')}
            };

            axios.post('/role/create', {name: this.roleName,permissions:this.checkedRoles},auth)
              .then(response => {
                  console.log(response);
                  this.createRolesModal = false;
                  this.getAllRoles();
              })
              .catch(error => {
                 console.log(error)
              })
              .then(() => {
                
              });

      },

      getAllRoles(){

        this.loading = true;

        let page = this.page_number;
        let perPage =  this.per_page;
        let search  = this.search_string;

        axios.get('/roles?page='+page+'&paginate='+perPage+'&s='+search)
          .then(response => {

            // console.log(response);

            let all_roles = response.data.roles;
            this.allRoles = all_roles;
            this.hasRoles = all_roles.length;
            this.total    = response.data.total;


          })
          .catch(error=>{

          })
          .then(()=>{
              this.loading = false;
          });

      },

      getPermissions(){

       axios.get('/permissions')
         .then(response=>{
            console.log(response);
            this.all_permissions=response.data.permissions;
         })
          .catch(error=>{

          })
          .then(()=>{
            
          });
       
      }

    },

    mounted(){
      //it should load when page is loaded
      this.getPermissions();

      //roles should load when page is loaded
      this.getAllRoles();

    }
  }
</script>