<template>
  
  <div v-loading="loading" class="wppayforms">

    <!-- start: PAGE HEADER -->
    <div class="row">
        <div class="col-sm-12">
            <!-- start: STYLE SELECTOR BOX -->
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li>
                    <i class="clip-file"></i>
                    <router-link to="/admin">
                        Dashboard
                    </router-link>
                </li>
                <li class="active">
                  User Management  /  Users
                </li>
            </ol>
            <!-- end: PAGE TITLE & BREADCRUMB -->
        </div>
    </div>
    <!-- end: PAGE HEADER -->

    <welcome v-if="!hasUsers" :additionalData="welcomeData" @create="createUsersModal = true"/>

    <!--We Have forms Now Start-->
    <div class="all_payforms_wrapper payform_section" v-else>
        
      <!--Header start-->
      <div class="payform_section_header all_payment_form_wrapper">
          <h1 class="payform_section_title">
              {{ 'All Users' }}
          </h1>
          <div class="payform_section_actions">
              <div class="payform_action search_action">

                  <el-input @keyup.enter.native="allUsers()" size="small" placeholder="Search" v-model="search_string" class="input-with-select">
                      <el-button @click="allUsers()" slot="append" icon="el-icon-search"></el-button>
                  </el-input>

              </div>
              <el-button class="payform_action" @click="createUsersModal = true" size="small" type="primary">
                  {{ 'Add New User'  }}
              </el-button>
          </div>
      </div>
      <!--header end-->

      <!--table start-->
        <div class="payform_section_body">

           <el-table style="width: 100%" :data="allUsersData" @selection-change="handleSelectionChange" ref="multipleTable">

              <el-table-column type="selection" width="55">
              </el-table-column>

              <el-table-column type="expand" >
                <template slot-scope="props">
                  <p>Id: {{ props.row.id }}</p>
                  <p>Name: {{ props.row.name }}</p>
                  <p>Created At: {{ props.row.created_at }}</p>
                </template>
              </el-table-column>

              <el-table-column
                label="Id"
                prop="id">
              </el-table-column>

              <el-table-column
                label="Date"
                prop="created_at">
              </el-table-column>

              <el-table-column
                label="Name"
                prop="name">
              </el-table-column>

              <el-table-column
                label="Email"
                prop="email">
              </el-table-column>

              <el-table-column label="Actions">
                  <template slot-scope="scope">
                      <a><i @click="editConfirmation(scope.row)" class="el-icon-edit"></i></a>
                      <a><i @click="deleteConfirmation(scope.row)" class="el-icon-delete"></i></a>
                  </template>
              </el-table-column>

          </el-table>
        </div>
      <!--table end-->

      <div class="wpsr_pagination">
          <el-pagination
              background
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="page_number"
              :page-size="per_page"
              :page-sizes="pageSizes"
              layout="total, sizes, prev, pager, next"
              :total="total">
          </el-pagination>
      </div>

    </div>
    <!--We Have forms Now End-->

       <!--start Add new role dialog modal -->
      <el-dialog top="40px" width="70%" :append-to-body="true"
               title="Start with a Pre-Defined Form or Create a Blank Form" :visible.sync="createUsersModal">

         <div class="pay_form_modal_body">

                <div class="form-group">
                  <p>Name</p>
                  <el-input type="text" size="mini" v-model="userName"></el-input>
                  <p>Email</p>
                  <el-input type="email" size="mini" v-model="userEmail"></el-input>
                  <p>Password</p>
                  <el-input type="password" size="mini" v-model="userPassword"></el-input>
                  <p>Confirm Password</p>
                  <el-input type="password" size="mini" v-model="userConfirmPassword"></el-input>
                </div>

                <div v-if="role_options.length">
                  <el-select v-model="role_value" clearable placeholder="Select Role" size="mini">
                    <el-option
                      v-for="item in role_options"
                      :key="item.id"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                  </el-select>
                </div>

                <div v-if="all_permissions.length">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllPermissions">Check all</el-checkbox>

                  <div style="margin: 15px 0;"></div>

                  <el-checkbox-group v-model="checked_permissions" @change="handleCheckedPermissions">
                    <el-checkbox v-for="(permission,index) in all_permissions" :label="permission.name" :key="index">{{permission.name}}</el-checkbox>
                  </el-checkbox-group>
                </div>
                <div class="demo_form_cards">
                   <el-button size="mini" type="primary" @click.prevent="saveUser">Add New</el-button>
                </div>

          </div>

      </el-dialog>
      <!--end Add new role dialog modal end-->

      <!-- Edit form Confimation Modal -->
      <el-dialog
          title="Are You Sure, You want to edit selected data?"
          :visible.sync="editDialogVisible"
          width="60%">
            <div class="pay_form_modal_body">
                <div class="form-group">
                  <p>Name</p>
                  <el-input type="text" size="mini" v-model="userName"></el-input>
                  <p>Email</p>
                  <el-input type="email" size="mini" v-model="userEmail"></el-input>
                  <!-- <p>Password</p>
                  <el-input type="password" size="mini" v-model="editingItem.password"></el-input>
                  <p>Confirm Password</p>
                  <el-input type="password" size="mini" v-model="editingItem.password"></el-input> -->
                </div>

                <div v-if="role_options.length">
                  <el-select v-model="role_value" clearable placeholder="Select Role" size="mini">
                    <el-option
                      v-for="item in role_options"
                      :key="item.id"
                      :label="item.name"
                      :value="item.name"
                      >
                    </el-option>
                  </el-select>
                </div>

                <div v-if="all_permissions.length">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllPermissions">Check all</el-checkbox>

                  <div style="margin: 15px 0;"></div>

                  <el-checkbox-group v-model="checked_permissions" @change="handleCheckedPermissions">
                    <el-checkbox v-for="(permission,index) in all_permissions" :label="permission.name" :key="index">{{permission.name}}</el-checkbox>
                  </el-checkbox-group>
                </div>
                <div class="demo_form_cards">
                   <el-button size="mini" type="primary" @click="editNow()">Add New</el-button>
            </div>

          </div>
          <!-- <span slot="footer" class="dialog-footer">
              <el-button @click="editDialogVisible = false">Cancel</el-button>
              <el-button type="primary" @click="editNow()">Save</el-button>
          </span> -->
      </el-dialog>

      <!-- Delete form Confimation Modal -->
      <el-dialog
          title="Are You Sure, You want to delete selected data?"
          :visible.sync="deleteDialogVisible"
          width="60%">
          <div class="modal_body">
              <p>All the status assoscilate with this will be deleted</p>                     
          </div>
          <span slot="footer" class="dialog-footer">
              <el-button @click="deleteDialogVisible = false">Cancel</el-button>
              <el-button type="primary" @click="deleteNow()">Confirm</el-button>
          </span>
      </el-dialog>

  </div>

  
</template>

<style type="scss">

  .body {
    * {
      box-sizing: border-box;
    }
    .el-form-item__content {
      line-height: 120%;
    }
  }



</style>

<script>
  
  import Welcome from './../../Common/Welcome';

  export default {

    components: { Welcome },

    data() {
      return {

        hasUsers:false,
        createUsersModal:false,
        search_string:'',
        hasPermissions: false,
        isVisibleCreateModal:false,
        createPermissionModal: false,
        loading: false,
        welcomeData:{
            'name':'User'
        },
        multipleSelection: [],

        isIndeterminate: true,
        checkAll: false,
       // permissions:[],

        all_permissions:[],
        checked_permissions:[],
        
        userName:'',
        userEmail:'',
        userPassword:'',
        userConfirmPassword:'',

        allUsersData:[],

        per_page: 10,
        page_number: 1,
        total: 0,
        pageSizes: [5,10, 20, 30, 40, 50, 100, 200],

        role_value:'',
        role_options:[],

        //delete
        deleteingDate:false,
        deleteDialogVisible:false,

        //edit
        editingItem:false,
        editDialogVisible:false,

      }
    },
    methods:{

      //multiple select checkbox
      handleCheckAllPermissions(val) {

        console.log('what ',this.all_permissions);

        //this.all_permissions=val;
        this.checked_permissions = val ? this.all_permissions.map(x => x.name):[];
        //this.checked_permissions = val ? this.all_permissions : [];

        this.isIndeterminate = false;

      },
      handleCheckedPermissions(value) {

        console.log(value);
        //this.all_permissions=value;
        let checkedCount = value.length;
        this.checkAll = checkedCount === this.all_permissions.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.all_permissions.length;

      },

      //pagination
      handleSizeChange(val) {

          this.per_page = val;
          this.allUsers();

      },

      handleCurrentChange(val) {

          this.page_number = val;
          this.allUsers();

      },


      //table select
      handleSelectionChange(val){
        this.multipleSelection = val;
      },

      //delete
      deleteConfirmation(deleteData){
          this.deleteingDate = deleteData;
          this.deleteDialogVisible = true;
      },

      deleteNow(){

        console.log(this.deleteingDate);
        let id = this.deleteingDate.id;

        axios.delete('/user/delete/'+id)
          .then(response => {

              console.log(response);

              this.$notify({
                  title: 'Successfully Deleted',
                  message: 'data deleted!',
                  type: 'success',
                  position: 'top-right'
              });
              this.allUsers();
          })
          .catch(error => {

            let errorData = error.responseJSON?error.responseJSON.data.message:'Error while deleting';

            this.$notify({
                title: 'Error',
                message: errorData,
                type: 'error',
                position: 'top-right'
            });

          })
          .then(() => {
              this.deleteDialogVisible = false;
              this.deleteingDate = false;
          });

      },

      allUsers(){

          this.loading  = true;

          let page = this.page_number;
          let perPage =  this.per_page;
          let search  = this.search_string;

          axios.get('/users?page='+page+'&paginate='+perPage+'&s='+search)
          .then(response => {


            let all_users = response.data.users;
            this.allUsersData = all_users;
            this.hasUsers = all_users.length;
            this.total    = response.data.total;

            console.log(response);

          })
          .catch(error=>{

          })
          .then(()=>{
              this.loading = false;
          });

      },

       saveUser(){
         
            this.loading = true;
             console.log('hi');
            const auth = {
              headers:{'X-CSRF-TOKEN': jQuery('meta[name="csrf-token"]').attr('content')}
            };

            let authData = {
                'name':this.userName,
                'email':this.userEmail,
                'password':this.userPassword,
                'confirm_password':this.userConfirmPassword
            };
           
            axios.post('/user/create',{

                'name':this.userName,
                'email':this.userEmail,
                'permissions':this.checked_permissions,
                'role':this.role_value

              },auth)
              .then(response => {
                  console.log(response);
                  this.allUsers();
              })
              .catch((error) => {
                 console.log(error.response)
              })
              .then(() => {
                this.createUsersModal = false;
                this.loading = false;
              });

      },

      initialize(){

       axios.get('/api/permissions').then(response=>{this.all_permissions=response.data.permissions.data});
       axios.get('/api/roles').then(response=>this.role_options=response.data.data);
       
      },

      //edit
      editConfirmation(editData){

          this.editingItem = editData;

          this.userName = editData.name;
          this.userEmail = editData.email;

          this.editDialogVisible = true;

          this.role_value = editData.role.name;
          
          this.checked_permissions = editData.permissions.map(x => x.name);
          this.checkAll = (this.checked_permissions.length == this.all_permissions.length);

      },

      editNow(){

          let id = this.editingItem.id;
          
          axios.put('/user/update/'+id,{

              'name':this.userName,
              'email':this.userEmail,
              'permissions':this.checked_permissions,
              'role':this.role_value

            }
          )
          .then(response=>{
            this.$notify({
                title: 'Successfully Updated',
                message: 'data updated!',
                type: 'success',
                position: 'top-right'
            });
            this.allUsers();
            console.log(response)
          })
          .catch((error) => {
              console.log(error.response)
          })
          .then(() => {
            this.editDialogVisible = false;
          });

      }

    },

    mounted(){
     this.initialize();
     this.allUsers();
    }
  }
</script>