<template>
    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

		<el-row>
			<!-- start: PAGE HEADER -->
			<div class="row">
				<div class="col-sm-12">
					<!-- start: PAGE TITLE & BREADCRUMB -->
					<ol class="breadcrumb">
						<li>
							<i class="clip-file"></i>
							<router-link to="/admin">
								Dashboard
							</router-link>
						</li>
					</ol>
					<!-- end: PAGE TITLE & BREADCRUMB -->
				</div>
			</div>
			<!-- end: PAGE HEADER -->

			<el-col :md="12" class="button-content" >
				<div class="button-container">
					<div class="filter-toggle btn-group">
						<button @click.prevent="getincomeExpense('daily')" class="btn btn-secondary">Today</button>
						<button @click.prevent="getincomeExpense('weekly')" class="btn btn-secondary">Last 7 Days</button>
						<button @click.prevent="getincomeExpense('monthly')" class="btn btn-secondary">This Month</button>
						<button @click.prevent="getincomeExpense('yearly')" class="btn btn-secondary">This Year</button>
					</div>
				</div>
			</el-col>

			<el-col>
				<!-- start: PAGE CONTENT -->
				<div class="card-container" >

					<div class="column">
						<div class="card1 card-shadow">
							<div class="card-part-one">
								<i class="el-icon-coin"></i>
							</div>
							<div class="card-part-two">
								<div class="card-inner">
									<h2>Total Income</h2>
									<h4>{{ totalIncome }} 
										<span v-if="getSettings.currency_settings"  
											 v-html="getSettings.currency_settings.currency_symbol"></span></h4>
									<div class="more-info info1">
										<router-link to="/admin/reports" class="small-box-footer">
											More info <i class="el-icon-arrow-right"></i>
										</router-link>
									</div>
								</div>
								
							</div>
							
						</div>
					</div>
					
					<div class="column">
						<div class="card2 card-shadow">

							<div class="card-part-one">
								<i class="el-icon-search"></i>
							</div>
							<div class="card-part-two">
								<div class="card-inner">
									<h2>Total Expense</h2>
									<h4>{{ totalExpense }} 
										<span 
											v-if="getSettings.currency_settings"
											v-html="getSettings.currency_settings.currency_symbol"
										>
										</span></h4>
									<div class="more-info info2">
										<router-link to="/admin/reports" class="small-box-footer">
											More info <i class="el-icon-arrow-right"></i>
										</router-link>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="column">

						<div class="card3 card-shadow">

							<div class="card-part-one">
								<i class="el-icon-shopping-cart-2"></i>
							</div>
							<div class="card-part-two">
								<div class="card-inner">
									<h2>Total Orders</h2>
									<h4>{{ totalOrders }}</h4>
									<div class="more-info info3">
										<router-link to="/admin/reports" class="small-box-footer">
											More info <i class="el-icon-arrow-right"></i>
										</router-link>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="column">

						<div class="card4 card-shadow" >

							<div class="card-part-one">
								<i class="el-icon-trophy"></i>
							</div>
							<div class="card-part-two">
								<div class="card-inner">
									<h2>Total Profit</h2>
									<h4>{{ totalProfit }} 
										<span 
											v-if="getSettings.currency_settings"
											v-html="getSettings.currency_settings.currency_symbol"
										>
										
										</span></h4>
									<div class="more-info info4">
										<router-link to="/admin/reports" class="small-box-footer">
											More info <i class="el-icon-arrow-right"></i>
										</router-link>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</el-col>

			<el-col :md="12" class="chart-content">
					
				<h4>statictics of Income vs Expense</h4>

				<div class="chart-container">
					<div class="chart">
						<line-chart 
							v-if="datacollection && chartOptions" 
							:chartdata="datacollection" 
							:chartoption="chartOptions"
							:width="500"
							:height="300"
						>
						</line-chart>
					</div>
				</div>

			</el-col>
			<!-- start: PAGE CONTENT -->
		</el-row>

    </div>
</template>

<script>

import LineChart from './../global/charts/LineChart';

export default {

	name: 'Dashboard',
	
	components: { LineChart },

	data() {

		return{

			datacollection : null,
            chartOptions : null,

			loading:false,
			totalIncome:0,
			totalExpense:0,
			totalOrders:0,
			totalProfit:0,
			timeline: 'Today',

		}

	},

	methods: {

		getincomeExpense(days){

			this.timeline = days;

			this.loading = true;
			axios.get('/timeline-income-expense/'+days)
				.then(response => {

					console.log( 'response ',response.data );

					this.totalIncome 	= response.data.totalIncome;
					this.totalExpense 	= response.data.totalExpense;
					this.totalOrders 	= response.data.totalOrders;
					this.totalProfit    = response.data.totalProfit;

				})
				.catch(error => {

					console.log(error);

				})
				.then(() => {

					this.loading = false; 

				});
		},

		getDashBoardInfo() {
			
			this.loading = true;
			axios.get('/dashboard-info')
				.then(response => {


					this.totalIncome 	= response.data.totalIncome;
					this.totalExpense 	= response.data.totalExpense;
					this.totalOrders 	= response.data.totalOrders;
					this.totalProfit    = response.data.totalProfit;

					this.isChartLoaded = true;

					let labels = response.data.dates;
					let incomes = response.data.monthlyIncomes;
					let expenses = response.data.monthlyExpenses;

					this.fillData(labels,incomes,expenses);

				})
				.catch(error => {

					console.log(error);

				})
				.then(() => {

					this.loading = false; 

				});

		},

		//charts
        fillData (labels,incomes,expenses) {
            this.datacollection = {
                fill:true,
                labels: labels,
                datasets: [
                {
                    label: "Income",
                    data: incomes,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 0.2)',
                    borderWidth: 1
                },
                {
                    label: "Expense",
                    data: expenses,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor:	'rgba(255,99,132,1)',
                    borderWidth: 1
                }]
                    
            }
            this.chartOptions = {
                pieceLabel: {
                    render: 'label'
                }, 
                legend: {
                    position: 'bottom',
                },
              
                hover: {
                        mode: 'nearest',
                        intersect: true
					},
					
				scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                        }
                    }]
                }
                
                    
            }
        },

	},

	computed: {

		getSettings() {

			return this.$store.getters.getSettings;

		}

	},

	mounted() {

		this.getDashBoardInfo();
		
	}

};

</script>
