
@media only screen and (max-width: 600px) {

    .mj-daterange-picker-controls .mj-daterange-picker-button {
        min-width: 130px !important;
    }
    .pie-chart-container{
        display:flex;
        flex-direction:column;
        clear:both;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin:20px;
        .chart{
            width:300px;
            height: 300px;
        }
    }

    .date-picker{
        width: 300px;
        .mj-daterange-picker {
            min-width: 300px;
        }
        .panels-choices {
            padding: 0px !important;

            .panel-button {

                padding: 5px 5px !important;

            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .pie-chart-container{
        display:flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        .chart{
            width:300px;
            height: 300px;
        }
    }
}

.pie-chart-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin:20px;
}

.reports-details{

    display: flex;
    align-items: center;
    justify-content: center;
    margin:25px 0px;

    .item{
        align-items: center;
        flex-basis: 33%;
        margin-top:20px;
        background-color: aquamarine;
        padding: 10px;
        margin:10px;
    }
}


