.form-container{

    display: flex;
    min-height: 24em;

    .form-row{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self:center;
        width:100%;
        
        .form-col{
            margin-top:20px;
        }
        
        .el-button{
            margin-top:10px;
        }
    }

}