.payform_section_actions{

    display:flex;
    justify-content: space-between;

	@media only screen and (max-width: 600px) {

        display:flex;
        flex-direction:column;

    }

    .search_action_orders{
        display: flex;
        align-items: flex-end;
    }

    .payform_action{
        display:flex;
        flex-direction: row;

        @media only screen and (max-width: 600px) {
            margin-top: 10px;
        }

        .payform_action_button{
            margin-left:5px;
        }
    }

}

.payform_section_body{
    margin-top: 15px;
    .el-badge {
        margin-top: 5px;
    }
}