<template>
    <!-- start: MAIN CONTAINER -->
 
        <div v-loading="loading" element-loading-text="Loading...Please Wait...">

            <el-row class="pos-main-container">
                <el-col :span="12">
                    <!-- <pre>unread{{ unreadNotifications }}</pre>
                    <pre>read{{ readNotifications }}</pre> -->
                    <div class="left-container">
                
                        <div class="product-header">
                            <div class="btn-group">

                                <el-button size="mini" type="primary" @click="addCustomer">
                                    <i class="el-icon-user"></i> Add a customer
                                </el-button>

                                <el-button size="mini" type="primary" @click="addNote">
                                    <i class="el-icon-notebook-1"></i> Add a Note
                                </el-button>
                                
                            </div>
                        </div>

                        <div class="prdocut-details">

                            <div class="grid">
                                <div class="grid-container" id="target-scroll">
                                    <table>
                                    <thead>
                                        <tr class="header">
                                        <th><div>Items</div></th>
                                        <th><div>Price</div></th>
                                        <th><div>Quantity</div></th>
                                        <th><div>Total Price</div></th>
                                        <th><div></div></th>
                                        </tr>
                                    </thead>
                                    <tbody id="cartItemProducts">
                                        <tr v-for="(cartItem,index) in cartItems" :key="index" class="body-table">
                                            <td>{{ cartItem.name }}</td>
                                            <td>{{ cartItem.price }}</td>
                                            <td class="qty">
                                                <el-input v-model="cartItem.quantity" 
                                                    @focus="productDetailsFromCart(cartItem)" 
                                                >
                                                </el-input>
                                            </td>
                                            <!-- <td>{{ cartItem.quantity }}</td> -->
                                            <td>{{ (cartItem.price*cartItem.quantity) }}</td>
                                            <td><el-button size="small" @click="removeFromCart(cartItem)" type="primary" icon="el-icon-delete"></el-button></td>
                                        </tr>

                                    </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="cart-product-info">
                            <div class="product-sub-details">

                                <div class="sub-details-left">
                                    <h4>Products Count( {{ totalCartItems }} )</h4>
                                </div>
                                <div class="sub-details-right">
                                    <span class="sub-total">Sub Total:  </span>{{ cartSubTotal }}
                                    <p><span class="demo-input-label">Discount: </span><el-input type="number" size="mini" v-model="discount"></el-input></p>
                                    <p><span class="demo-input-label">Shipping: </span><el-input type="number" size="mini" v-model="shipping"></el-input></p>
                                    <p><span class="demo-input-label">Tax: </span><el-input type="number" size="mini" v-model="tax"></el-input> </p>
                                </div>


                            </div>

                            <div class="total-cart-details">
                                <h1 class="total-cart-inline total-cart-left">Total:</h1>
                                <h1 class="total-cart-inline total-cart-right">{{ getTotalAmount(cartSubTotal,shipping,tax,discount) }}</h1>
                            </div>

                            <div class="btn-group">
                                <div class="btn-group">
                                    <el-button size="mini" type="primary" @click="payMentSystem">
                                        <i class="el-icon-check"></i> Pay
                                    </el-button>
                                    <el-button size="mini" type="primary" @click="cancelOrder">
                                        <i class="el-icon-refresh"></i> Cacnel 
                                    </el-button>
                                </div>
                            </div>
                        </div>

                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="right-container">
                        
                        <!-- category start -->
                        <div class="main" role="main">
                            <div class="content">
                                
                                <div class="slider responsive" id="carousel">
                                    

                                    <div class="category" v-if="categories.length>1">
                                        <a href="#" round @click.prevent="getCategoryProduct(-1)"> 
                                            <p>All Categories</p>
                                        </a>
                                    </div>

                                    <div class="category" v-for="(category,index) in categories" :key="index">
                                        <!-- <h3>{{ category.name }}</h3> -->
                                        <a href="#" round @click.prevent="getCategoryProduct(category.id)"> 
                                            <p>{{ category.name }}</p>
                                        </a>
                                        <!-- <a href="#" class="show-more-link">Show more...</a>
                                        <div class="show-more">
                                        <p>More info here...</p>
                                        <button class="close">X</button>
                                        </div> -->
                                    </div>
                                
                                
                                </div>
                            </div>
                        </div>
                        <!-- category end -->
                    
                        <!-- products start -->
                        <div class="product-section" >

                            <!--Header start-->
                            <div class="header_wrapper">

                                <div class="header_section_actions">

                                    <div class="header_search_action">

                                        <el-input @keyup.enter.native="getCategoryProduct(-1)" size="small" placeholder="Search Products" v-model="search_string" class="input-with-select">
                                            <el-button @click="getCategoryProduct(-1)" slot="append" icon="el-icon-search"></el-button>
                                        </el-input>

                                    </div>
                                    
                                </div>

                            </div>
                            <!--header end-->

                            <div class="product-lists" id="Products-target">

                                <div v-if="!products.length" class="not-found-products">
                                    <h4> No products found in this category.</h4>
                                </div>

                                <div v-else class="product-grid product-grid--flexbox">
                                    <div class="product-grid__wrapper" id="Products">

                                        <div class="product-grid__product-wrapper" 
                                        v-for="(product,index) in products" :key="index">
                                            <div class="product-grid__product">
                                                <div class="product-grid__img-wrapper">			
                                                    <img :src="Image(product.images)" alt="Img" class="product-grid__img" />
                                                </div>
                                                <span class="product-grid__title">{{ product.name }}</span>
                                                <span class="product-grid__price">{{ product.price }} <span v-if="getSettings.currency_settings" v-html="getSettings.currency_settings.currency_symbol"></span></span>

                                                <div class="btn-group">
                                                    <span class="product-grid__btn product-grid__add-to-cart" 
                                                        @click.prevent = "addToCart(product.id,product.name,product.price,1,product.images)">
                                                        <i class="el-icon-shopping-cart-2"></i> Add to cart
                                                    </span>				
                                                    <span @click.prevent="productDetails(product)" class="product-grid__btn product-grid__view"><i class="el-icon-view"></i> View more</span>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- products end -->

                        <div class="qrcode-section">
                            <h4>Add products scanning product qr code:</h4>
                            <div class="input-fields">
                                <div class="input-field">
                                    <p>QR Code:</p>
                                    <el-input @keyup.enter.native="addProductByQrCode()" type="text" size="mini" v-model="barcode" placeholder="QR Code"></el-input>
                                    <p v-if="errors.barcode" style="color:red">{{ errors.barcode[0] }}</p>
                                </div> 
                                <div class="input-field last-field">
                                    <p>Quantity:</p>
                                    <el-input type="number" size="mini" :min="1" v-model="barcodeQty" placeholder="Quantity"></el-input>
                                    <p v-if="errors.qty" style="color:red">{{ errors.qty[0] }}</p>
                                </div>
                            </div>
                            <el-button type="primary" icon="el-icon-success" size="mini" @click="addProductByQrCode">Submit</el-button>
                        </div>

                    </div>
                </el-col>
            </el-row> 

            <div class="product-detials-modal">
                <el-dialog
                    title="Product Details"
                    :visible.sync="productDialogVisible"
                    width="90%"
                    v-loading="loadingModal" 
                    element-loading-text="Loading...Please Wait Table..."
                >

                <div class="modal-body" v-if="tableData.length">
                    <el-table
                        :data="tableData"
                    >

                        <el-table-column
                            prop="name"
                            label="Name"
                        >
                        </el-table-column>

                        <el-table-column
                            prop="price"
                            label="Price"
                        >
                        </el-table-column>

                        <el-table-column
                            label="Qty"
                        >
                            <template slot-scope="scope" class="qty">
                                <el-input @keyup.enter.native="updateCart()" v-model="totalQty"></el-input>
                            </template>

                        </el-table-column>

                        <el-table-column
                            label="Total"
                        >
                            <template slot-scope="scope" >
                                {{  totalQty*scope.row.price }}
                            </template>

                        </el-table-column> 
                        
                        <el-table-column
                            label="Actions"
                        >
                            
                            <template slot-scope="scope">
                                <el-button size="small" @click="removeFromCart(scope.row)" type="primary" icon="el-icon-delete"></el-button>
                            </template>

                        </el-table-column>

                    </el-table>
                    
                </div>

                <span slot="footer" class="dialog-footer">
                    <el-button @click="productDialogVisible = false">Cancel</el-button>
                    <el-button type="primary" @click="updateCart">Update Cart</el-button>
                </span>

                </el-dialog>
            </div>

            <el-dialog
                title="Payment System"
                :visible.sync="paymentModal"
                width="80%"
            >

                <PaySystem 
                    v-if="paymentModal"
                    :payAmount="totalCartAmountForPay"
                    :subTotal="cartSubTotal"
                    :tax="tax"
                    :shipping="shipping"
                    :discount="discount"
                    :totalItems="totalCartItems"
                    :cartItems="cartItems"
                    :paymentModalSyncValue.sync="paymentModal"
                    :successFullOrderValue.sync="successFullOrder"
                />

            </el-dialog>

            <!-- customer modal -->
            <el-dialog
                title="Customer Details"
                :visible.sync="addCustomerModal"
                width="60%"
            >

                <AddCustomer @closeCustomerModal = 'closeCustomerModal'/>

            </el-dialog>

            <!-- note modal -->
            <el-dialog
                title="Add a note"
                :visible.sync="addCustomerNote"
                width="60%"
            >

                <AddNote @closeCustomerNote="closeCustomerNote" />

            </el-dialog>

        </div>
    <!-- end: MAIN CONTAINER -->
</template>

<script>

import PaySystem from './pay/PayModal';
import AddCustomer from './customer/AddCustomer';
import AddNote from './note/AddNote';

export default {

    components:{ PaySystem,AddCustomer,AddNote },
    
    data(){
        return{
            productDialogVisible:false,
            categories:[],
            loading:false,
            products:[],

            //cart related data
            totalQty:1,
            totalCartItems:0,
            cartItems:[],
            modalData:false,
            modalProductImage:'',
            cartTotal:0,
            cartSubTotal:0,
            tax:0,
            shipping:0,
            discount:0,
            barcode:'',
            barcodeQty:0,

            totalCartAmountForPay:0,

            loadingModal:false,
            //pos payment
            paymentModal:false,

            //customer
            addCustomerModal:false,

            //note
            addCustomerNote:false,

            successFullOrder:false,
            count:0,
            errors:{},

            search_string:'',

            tableData:[]
        }
    },

    methods:{

        removeFromCart(row){

            this.loading = true;
            let self = this;

            axios.post('/remove-item-from-cart',row)
            .then(function (response) {

                console.log(response.data.name);
                let name = response.data.cartItem.name;

                self.$message({

                    message: name+' removed from cart!',
                    type: 'success'

                });

                self.getCartProducts();

                self.productDialogVisible = false;

            })
            .catch(error => {
                console.log(error);
            })
            .then(() => {
                this.loading = false;
            }); 

        },

        addProductByQrCode(){

            var info = {barcode: this.barcode,qty:this.barcodeQty};
            let self=this;
             
            axios.post('/add-to-cart-by-barcode', info)
            .then(function (response) {

                var product = response.data.product;
                if(product){

                    self.$message({
                        message: 'Product added to cart!',
                        type: 'success'
                    });

                }else{

                    self.$message({
                        message: 'No product found using this barcode!',
                        type: 'error'
                    });

                }

                self.barcode = '';
                self.barcodeQty = 0;

                self.getCartProducts();

            })
            .catch(error => {
                self.errors = error.response.data.errors;
            })
            .then(() => {
                //this.loading = false; 
            });

        },  

        closeCustomerNote(){
            this.addCustomerNote = false;
        },

        closeCustomerModal(){
            this.addCustomerModal = false;
        },

        addCustomer(){
            this.addCustomerModal = true;
        },

        addNote(){
            this.addCustomerNote = true;
        },

        updateCart(){

            var info = this.modalData;
            info['quantity'] = this.totalQty;
            let self = this;

            axios.post('/update-cart',info)
            .then(function (response) {
                self.getCartProducts();
            })
            .catch(error => {
                console.log(error);
            })
            .then(() => {
                this.productDialogVisible = false;
            }); 

        },

        cancelOrder(){

            let self = this;

            axios.post('/delete-cart')
            .then(function (response) {

                // self.cartItems = response.data.cartItems;
                // self.totalCartItems = response.data.total;
                // self.cartSubTotal = response.data.cartSubTotal;
                // self.cartTotal = response.data.cartTotal;
                // self.tax = 0;
                // self.shipping = 0;
                // self.discount = 0;
                // self.totalCartAmountForPay = 0;

                // notification works(this does not works real time)
                // self.read_notifications   = response.data.read_notifications;
                // self.unread_notifications = response.data.unread_notifications;
                self.getCartProducts();
                self.getNotifications();
                // let notifications = {
                //     'read_notifications':self.read_notifications,
                //     'unread_notifications':self.unread_notifications
                // };

                // self.$store.dispatch('allNotifications',notifications);

            })
            .catch(error => {
                console.log(error);
            })
            .then(() => {
                //this.loading = false; 
            }); 

        },

        payMentSystem(){

            this.paymentModal = true;

        },

        getTotalAmount(cartSubTotal,shipping,tax,discount){

            let sum = parseInt(cartSubTotal);

            if(shipping){
                sum += parseInt(shipping);
            }

            if(tax){
                sum += parseInt(tax);
            }

            if(discount){
                sum -= parseInt(discount);
            }

            this.totalCartAmountForPay = sum;

            return sum;

        },

        //cart related function
        addToCart(id,name,price,qty,images){

            var info = {name: name,id:id,price:price,qty:qty,images:images};

            let self=this;
             
            axios.post('/add-to-cart', info)
            .then(function (response) {

                self.getCartProducts();

            })
            .catch(error => {
                // console.log(error);
            })
            .then(() => {
                //this.loading = false; 
            });

        },

        getCartProducts(){
            
            this.loading = true;
            let self = this;

            axios.get('/cart-products')
            .then(function (response) {

                self.cartItems = response.data.cartItems;
                self.totalCartItems = response.data.total;
                self.cartSubTotal = response.data.cartSubTotal;
                self.cartTotal = response.data.cartTotal;

                self.tax = 0;
                self.shipping = 0;
                self.discount = 0;

            })
            .catch(error => {
                console.log(error);
            })
            .then(() => {
                this.loading = false; 
            });

        },

        scrollBottomToTop(){

           let el = document.getElementById('cartItemProducts'); 
           let eltarget = document.getElementById('target-scroll');

           setTimeout(()=>{
            eltarget.scrollTop = el.scrollHeight;
           },20);
           

        },

        productDetailsFromCart(product){

            this.productDialogVisible = true;
            var info = {id:product.id,name:product.name,price:product.price,quantity:this.totalQty,images:product.attributes.images};
            this.getDetailsProductInfo(info);

        },

        productDetails(product){

            this.productDialogVisible = true;
            var info = {id:product.id,name:product.name,price:product.price,quantity:this.totalQty,images:product.images};

            this.getDetailsProductInfo(info);

            //this.modalData = info;

        },

        getDetailsProductInfo(info){
            let self=this;
            this.loadingModal = true;
            axios.post('/cart-product', info)
            .then(function (response) {

                self.modalData = response.data.cartItem;

                self.tableData = [];
                self.tableData.push(self.modalData);

                console.log(self.tableData);

                self.totalQty  = self.modalData.quantity;

            })
            .catch(error => {
                console.log(error);
            })
            .then(() => {
                this.loadingModal = false; 
            });
        },

        Image(images){

            if(images){
                let image = JSON.parse(images)[0].name;
                return '/images/products/'+image;
            }

            return false;

        },

        getCategoryProduct(productId){
            
            this.loading = true;

            axios.get( '/category-product?categoryId='+productId+'&s='+this.search_string )
                .then(response => {

                    let all_products = response.data.products;
                    this.products = response.data.products;

                })
                .catch(error => {
                    
                })
                .then(() => {
                   this.search_string = '';
                   this.loading = false; 
                });
        },

        //all category
        // getCategories(){

        //     this.loading = true;

        //     axios.get('/all-categories')
        //         .then(response => {
        //             let all_categories = response.data;
        //             this.categories = all_categories;
        //         })
        //         .catch(error => {
        //             //alert('hi categories error1');
        //             console.log(error);
        //         })
        //         .then(() => {
        //             // alert('hi categories error2');
        //            this.loading = false; //loading of in watch slick
        //         });

        // },

        redirectTo(){
            window.open('/admin/',"_self");
        },

        initSlick(){

                let self = this;
                setTimeout(function() {
                    self.loading = false;
                }, 2000);
                
                console.log('hi1');
                $(document).ready(function() {
        
                // Initialise Selectric Dropdown and Slick Carousel
                //$('#categories').selectric();
                
                    $('.responsive').slick({
                        // dots: true,
                        infinite: true,
                        speed: 300,
                        slidesToShow: 5,
                        slidesToScroll: 1,
                        responsive: [{
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 5,
                                slidesToScroll: 1,
                                // centerMode: true,

                            }
                        }, {
                            breakpoint: 800,
                            settings: {
                                slidesToShow: 4,
                                slidesToScroll: 2,
                                infinite: true,

                            }
                        }, {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 2,
                                infinite: true,

                            }
                        }, {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1,
                                infinite: true,
                            }
                        }, {
                            breakpoint: 320,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                infinite: true,
                            }
                        }]
                    });
            
                    var currentIndex = 0;
                    $('#categories').on('change', function() {
                        currentIndex = $(this).prop('selectedIndex');
                        var currentSlide = $('.responsive').slick('slickCurrentSlide');
                        $('.responsive').slick('slickGoTo', parseInt(currentIndex));
                    });
                    
                    
                    $('.category .show-more-link').on('click', function() {
                        $(this).next().css('display', 'block');
                    });
                    
                    
                    $('.category .close').on('click', function() {
                        $(this).parent().css('display', 'none');
                    });


                });
        },

        getPosInitData(){

            this.loading = true;
            let self = this;
            axios.get('/all-pos-init-data')
                .then(response => {

                    if(response.data){

                        this.categories = response.data.categories;
                        this.products   = response.data.products;
                        this.cartItems = response.data.cartItems;
                        this.totalCartItems = response.data.total;
                        this.cartSubTotal = response.data.cartSubTotal;
                        this.cartTotal = response.data.cartTotal;

                    }
                })
                .catch(error => {
                    //alert('hi categories error1');
                    console.log(error);
                })
                .then(() => {
                    // alert('hi categories error2');
                   this.loading = false; //loading of in watch slick
                });
        }

    },

    computed:{
        getSettings(){
            return this.$store.getters.getSettings;
        }
    },

    watch:{

        categories(val){

            this.count++;

            if(this.count<2){
                this.loading = true;
                var self = this;
                setTimeout(function() {
                    self.initSlick();
                }, 5);
            }

        },

        cartItems(val){

            if(val){
                this.cartItems = val;
                this.scrollBottomToTop();
            }

        },

        paymentModal(val){

        },
    
        successFullOrder(val){
            if(val){
                this.cancelOrder();
                this.successFullOrder = false;
            }
        },
        
    },

    mounted(){

        // .navbar-toggle {
        //     display: none;
        // }

        //$("p").css("background-color", "yellow");
        

        //by default data
        this.getPosInitData();
        //this.getCategories();
        //this.getCategoryProduct(-1);
        //this.getCartProducts();//get cart data
        
        

        // let elem = document.getElementById ( "scrolled-content" )
        // //let container = document.getElementById ( "scroll-target" )
        // elem.scrollTop = Math.floor ( elem.scrollHeight )

        //  let cart = this.$refs.cartItemProducts;
        // console.log(cart.scrollHeight);
        let that = this;
        setTimeout(()=>{
            that.scrollBottomToTop();
        },200);

        var classExists = document.getElementsByClassName('navbar-toggle');
        if (classExists.length > 0) {
            $(".navbar-toggle").css("display", "none");
        }

    },

    
    

}
</script>

