<template>
    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">
        
        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Social Network / Email
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <div class="back-icon">
            <el-button type="default" icon="el-icon-arrow-left" size="mini" @click="goBack">Previous Page</el-button> 
        </div>

        <div class="form-container">
            <el-row class="form-row">
                <el-col :span="12" class="form-col">

                    <p>Subject :</p>
                    <el-input type="text" v-model="emailSubject" placeholder="Type email subject"></el-input>
                    <p v-if="errors.subject" style="color:red">{{ errors.subject[0] }}</p>

                    <p>From :</p>
                    <el-input type="text" v-model="emailFrom" placeholder="Type your email"></el-input>
                    <p v-if="errors.email_from" style="color:red">{{ errors.email_from[0] }}</p>

                    <p>Body :</p>
                    <el-input type="textarea" v-model="emailBody" placeholder="Type email body" :rows="6"></el-input>
                    <p v-if="errors.email_body" style="color:red">{{ errors.email_body[0] }}</p>

                    <el-button type="primary" size="mini" @click="sendEmail">Send Email</el-button>
                
                </el-col>
            </el-row>
        </div>  
        <!-- end: PAGE CONTENT -->  

    </div>
</template>

<script>
export default {
    
    data() {

        return {

            loading: false,
            emailBody:'',
            emailSubject:'',
            emailFrom:'',
            errors:{},

            //email settings
            emails:[],
            mailgunDomain: '',
            mailgunAuthToken: '',
            successMsg:''
        
        }

    },

    methods: {

        goBack() {

            this.$router.go(-1);

        },

        sendEmail() {
            
            this.loading = true;
            let info = {

                'emails'           : this.emails,
                'mailgunAuthToken' : this.mailgunAuthToken,
                'mailgunDomain'    : this.mailgunDomain,
                'emailSubject'     : this.emailSubject,
                'emailBody'        : this.emailBody,
                'emailFrom'        : this.emailFrom

            };

            axios.post('/email/send',info)
            .then(response => {

                if(response.data.status === 'success'){

                    this.$message({
                        message: response.data.result.message,
                        type: 'success'
                    });

                    this.errors = {};
                    
                }

            })
            .catch(error => {

                if(error.response) {

                    this.errors = error.response.data.errors;

                }

                if(this.errors && (this.errors.domain || this.errors.token)) {
                
                    this.$message({

                        message: 'Email cant\'t sent, go to sms & social settings to configure!',
                        type: 'error'

                    });

                }

            })
            .then(() => {

                this.loading = false;

            });

        },
        getEmailsWithSettings() {

            this.loading = true;

            axios.get('/email/emails-with-sms-settings')
                .then(response => {

                    this.emails = response.data.emailLists;
                    let emailSettings = response.data.emailSettings;

                    if(emailSettings) {
                    
                        this.mailgunDomain      = emailSettings.email_settings.mailgunDomain;
                        this.mailgunAuthToken   = emailSettings.email_settings.mailgunAuthToken;

                    }

                })
                .catch(error => {

                    console.log(error);
                    
                })
                .then(() => {

                    this.loading = false;

                });
        }
    },

    mounted() {

        this.getEmailsWithSettings();

    }

}
</script>