<template>
    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Social Network / Sms
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <div class="back-icon">
            <el-button type="default" icon="el-icon-arrow-left" size="mini" @click="goBack">Previous Page</el-button> 
        </div>

        <div class="form-container">
            <el-row class="form-row">
                <el-col :span="12" class="form-col">
                    <p>Message :</p>
                    <el-input type="textarea" v-model="messageBody" placeholder="Type Message" :rows="6"></el-input>
                    <p v-if="errors.message" style="color:red">{{ errors.message[0] }}</p>
                    <el-button type="primary" size="mini" @click="sendSms">Send Sms</el-button>
                </el-col>
            </el-row>
        </div>    
        <!-- start: PAGE CONTENT -->

    </div>
</template>

<script>

export default {
    
    data() {

        return {

            loading: false,
            phone: '01742134848',
            messageBody:'',
            errors:{},

            //sms settings
            phoneNumbers:[],
            twillioAuthToken: '',
            twillioNumber: '',
            twillioSid: '',
            successMsg:''
        
        }

    },

    methods: {

        goBack() {

            this.$router.go(-1);

        },

        sendSms() {
            
            this.loading = true;
            let info = {

                'phoneNumbers'     : this.phoneNumbers,
                'twillioAuthToken' : this.twillioAuthToken,
                'twillioNumber'    : this.twillioNumber,
                'twillioSid'       : this.twillioSid,
                'message'          : this.messageBody

            };

            axios.post('/sms/send',info)
                .then(response => {

                    if(response.data.message === 'success') {
                        
                        let total  = response.data.totalNumber;
                        let sent = response.data.totalSent;
                        let failed = (total-sent);
                        this.successMsg = 'sent '+sent+', failed '+failed;

                        this.$message({

                            message: 'sent '+sent+', failed '+failed,
                            type: 'success'

                        });

                        this.errors = {};
                        
                    }

                })
                .catch(error => {

                    if(error.response) {

                        this.errors = error.response.data.errors;

                    }

                    if(this.errors && (this.errors.sid || this.errors.token || this.errors.number)) {
                    
                        this.$message({

                            message: 'Sms cant\'t sent, go to sms & social settings to configure!',
                            type: 'error'

                        });

                    }

                })
                .then(() => {

                    this.loading = false;

                });

        },

        getNumbersWithSettings() {

            this.loading = true;

            axios.get('/sms/numbers-with-sms-settings')
                .then(response => {

                    this.phoneNumbers = response.data.phoneLists;
                    let smsSettings = response.data.smsSettings;

                    if(smsSettings){

                        this.twillioAuthToken = smsSettings.sms_settings.twillioAuthToken;
                        this.twillioNumber    = smsSettings.sms_settings.twillioNumber;
                        this.twillioSid       = smsSettings.sms_settings.twillioSid;

                    }
                    

                })
                .catch(error => {

                    console.log(error);
                    
                })
                .then(() => {

                    this.loading = false;

                });
        }
    },

    mounted() {

        this.getNumbersWithSettings();

    }

}

</script>