<template>
    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Social Network / Social Platforms
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <div class="social-platform-buttons">
            <el-row>
                <el-col>
                    <div class="button-icons">

                        <a id="msnnr_btn_anc" class="platform-icon" href="#"  @click.prevent="openMessengerPopupWindow">

                            <div id="messenger_button">
                                <div class="messenger_column btn_label">
                                    <span>Continue with Messenger</span>
                                </div>
                                <div class="messenger_column btn_icon">
                                    <img src="/images/messenger.svg" id="msngr_btn_icon">
                                </div>
                            </div>

                        </a>

                        <a id="msnnr_btn_anc" class="platform-icon" href="#" @click.prevent="openWhatsappPopupWindow">

                            <div id="whatsapp_button">
                                <div class="messenger_column btn_label">
                                    <span>Continue with Whatsapp</span>
                                </div>
                                <div class="messenger_column btn_icon">
                                    <img src="/images/whatsapp.svg" id="msngr_btn_icon">
                                </div>
                            </div>

                        </a>
                    </div>
                </el-col>
            </el-row>
        </div>
        <!-- end: PAGE CONTENT -->

    </div>
</template>

<script>

export default {

    data() {

        return {

            loading: false,
            whatsappUrl: 'https://api.whatsapp.com/send?phone=',
            messengerUrl: 'https://www.messenger.com/t/',
            messengerId:'',
            whatsappPhoneNumber:''

        }

    },

    methods: {

        openMessengerPopupWindow() {

            if(this.messengerId){

                let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
                width=800,height=500,left=100,top=100`;

                open(this.messengerUrl+this.messengerId, 'Chat', params);

            }else{

                this.$notify({

                    title: 'Error',
                    message: 'Can\'t connect with messenger!Please go to settings.',
                    type: 'error',
                    position: 'top-right'

                });

            }

        },

        openWhatsappPopupWindow() {
            
            if(this.whatsappPhoneNumber) {

                let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
                width=800,height=500,left=100,top=100`;

                open(this.whatsappUrl+this.whatsappPhoneNumber, 'Chat', params);

            }else{

                this.$notify({

                    title: 'Error',
                    message: 'Can\'t connect with whatsapp!Please go to settings.',
                    type: 'error',
                    position: 'top-right'

                });

            }

        },

        getSocialSettings() {

            this.loading = true;

            axios.get('/social-settings')
                .then(response => {

                    let socialSettings = response.data.socialSettings;
                    
                    if(socialSettings) {

                        this.messengerId = socialSettings.messenger_id;

                    }
                    if(socialSettings) {

                        this.whatsappPhoneNumber = socialSettings.whatsapp_phone_number;

                    }

                })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                   this.loading = false; 

                });
        }

    },

    mounted() {

        this.getSocialSettings();

    }
}

</script>