<template>
    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Social Network / Settings
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <div class="form-container">
            <el-row class="form-row" :gutter="5">
                <el-col :span="12" class="form-col">
                    <div class="platform-settings">
                        <div class="platform-header">
                            <!-- <img height="35" width="35" src="/images/socials/messenger.png" /> -->
                            <h4>Messenger Settings</h4>
                        </div>
                        
                        <p>Messenger page/user id:</p>
                        <el-input type="text" size="mini" placeholder="Messenger page/user id" v-model="messengerId"></el-input>
                    </div>
                    <div class="platform-settings">
                        <div class="platform-header">
                            <!-- <img height="50" width="50" src="/images/socials/whatsapp.png" /> -->
                            <h4>Whatsapp Settings</h4>
                        </div>

                        <p>Phone number:</p>
                        <el-input type="text" size="mini" placeholder="Phone number" v-model="whatsappPhoneNumber"></el-input>
                    </div>

                    <div class="platform-settings">
                        <div class="platform-header">
                            <!-- <img height="35" width="35" src="/images/socials/sms.png" /> -->
                            <h4>Sms Provider Settings(Twilio)</h4>
                        </div>

                        <p>Number From:</p>
                        <el-input type="text" size="mini" placeholder="Twillio Number" v-model="twillioNumber"></el-input>
                    
                        <p>Account SID:</p>
                        <el-input type="text" size="mini" placeholder="Account SID" v-model="twillioSid"></el-input>

                        <p>Auth Token:</p>
                        <el-input type="text" size="mini" placeholder="Auth Token" v-model="twillioAuthToken"></el-input>

                    </div>

                    <div class="platform-settings">
                        <div class="platform-header">
                            <!-- <img height="35" width="35" src="/images/socials/sms.png" /> -->
                            <h4>Email Provider Settings(Mailgun)</h4>
                        </div>

                        <p>Mailgun Domain:</p>
                        <el-input type="text" size="mini" placeholder="Mailgun Domain" v-model="mailgunDomain"></el-input>

                        <p>Auth Token:</p>
                        <el-input type="text" size="mini" placeholder="Auth Token" v-model="mailgunAuthToken"></el-input>

                    </div>

                    <el-button type="primary" @click.prevent="saveSocialSettings" size="mini">Save</el-button>
                </el-col>
            </el-row>
        </div>
        <!-- end: PAGE CONTENT -->
        
    </div>
</template>

<script>

export default {

    data() {

        return{

            loading:false,
            messengerId:'',
            whatsappPhoneNumber:'',
            twillioNumber:'',
            twillioSid:'',
            twillioAuthToken:'',
            mailgunDomain:'',
            mailgunAuthToken:''

        }

    },

    methods: {

        saveSocialSettings(){

            this.loading = true;

            let info = {

                'messengerId': this.messengerId,
                'whatsappPhoneNumber': this.whatsappPhoneNumber,
                'smsSettings':{
                   'twillioNumber': this.twillioNumber,  
                   'twillioSid': this.twillioSid,
                   'twillioAuthToken': this.twillioAuthToken
                },
                'emailSettings':{
                    'mailgunDomain': this.mailgunDomain,
                    'mailgunAuthToken': this.mailgunAuthToken
                }

            };

            axios.post('/save-social-settings', info)
                .then(response => {

                    this.$notify({

                        title: 'Success',
                        message: 'Social settings saved successfully!',
                        type: 'success',
                        position: 'top-right'

                    });

                    this.getSocialSettings();

                })
                .catch(error => {
                    
                })
                .then(() => {
                    this.loading = false;
                });
        },

        getSocialSettings() {

            this.loading = true;

            axios.get('/social-settings')
                .then(response => {

                    let socialSettings = response.data.socialSettings;

                    if(socialSettings) {

                        this.messengerId = socialSettings.messenger_id;

                    }

                    if(socialSettings) {

                        this.whatsappPhoneNumber = socialSettings.whatsapp_phone_number;
                    
                    }

                    if(socialSettings) {

                        if( socialSettings.sms_settings ){

                            this.twillioNumber     = socialSettings.sms_settings.twillioNumber;  
                            this.twillioSid        = socialSettings.sms_settings.twillioSid;
                            this.twillioAuthToken  = socialSettings.sms_settings.twillioAuthToken;
                        
                        }

                        if( socialSettings.email_settings ) {

                            this.mailgunDomain     = socialSettings.email_settings.mailgunDomain;
                            this.mailgunAuthToken  = socialSettings.email_settings.mailgunAuthToken; 
                        
                        }

                    }
                })
                .catch(error => {

                    console.log(error);
                    
                })
                .then(() => {

                   this.loading = false; 

                });
        }
    },

    mounted() {

       this.getSocialSettings();

    }
}

</script>