.genearal-settings{
    .el-input{
        margin-top:7px;
    }
    .el-button{
        margin-top:7px;
    }
    .el-radio{
       margin-top:7px; 
    }
}

.file-uploder-section{

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    input[type=file] {
        display: block;
        display: none;
    }
    .el-upload__input {
        display: none;
    }

}