<template>

    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Products / Add Product
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <div class="back-icon">
            <el-button type="default" icon="el-icon-arrow-left" size="mini" @click="goBack">Previous Page</el-button> 
        </div>

        <div class="form-container">
            <el-row class="form-row">
                <el-col :span="12" class="form-col">

                    <p>Product Name :</p>
                    <el-input type="text" v-model="productName" size="mini"></el-input>
                    <p v-if="errors.name" style="color:red">{{ errors.name[0] }}</p>

                    <file-upload
                        :sync_value="files"
                        @uploadFiles="fileUploader"
                    ></file-upload>
                    <p v-if="errors.images" style="color:red">{{ errors.images[0] }}</p>

                    <p>Barcode :</p>
                    <el-input
                        type="text"
                        placeholder="Barcode"
                        v-model="barcode"
                        size="mini"
                    >
                    </el-input>

                    <p>Description :</p>
                    <el-input
                        type="textarea"
                        placeholder="Description"
                        v-model="description"
                        maxlength="30"
                        show-word-limit
                    >
                    </el-input>
                    <p v-if="errors.description" style="color:red">{{ errors.description[0] }}</p>

                    <p>Price :</p>
                    <el-input type="number" v-model="price" size="mini"></el-input>
                    <p v-if="errors.price" style="color:red">{{ errors.price[0] }}</p>

                    <p>Category :</p>
                    <div v-if="categories">
                        <el-select v-model="categoryVal" clearable placeholder="Select Category" size="mini">
                            <el-option
                            v-for="item in categories"
                            :key="item.id"
                            :label="item.name"
                            :value="item.name">
                            </el-option>
                        </el-select>
                        <p v-if="errors.category" style="color:red">{{ errors.category[0] }}</p>
                    </div>

                    <p>Brand :</p>
                    <div v-if="brands">
                        <el-select v-model="brandVal" clearable placeholder="Select Brand" size="mini">
                            <el-option
                            v-for="item in brands"
                            :key="item.id"
                            :label="item.name"
                            :value="item.name">
                            </el-option>
                        </el-select>
                        <p v-if="errors.brand" style="color:red">{{ errors.brand[0] }}</p>
                    </div>

                    <p>Featured :</p>
                    <el-switch
                    v-model="featured"
                    active-color="#13ce66"
                    inactive-color="#ff4949">
                    </el-switch>

                    <p>Quantity :</p>
                    <el-input type="number" v-model="quantity" size="mini"></el-input>

                    <el-button type="primary" size="mini" @click="saveProduct">Save</el-button>
                </el-col>
            </el-row>
        </div>
        <!-- end: PAGE CONTENT -->

    </div>

</template>

<script>

import FileUpload from './../../global/elements-ui/FileUploadElement';

export default {
    
    data() {

        return {

            loading:false,
            
            productName:'',
            description:'',
            price:'',
            featured:true,
            quantity:'',

            brandVal:'',
            brands:[],

            categoryVal:'',
            categories:[],
            barcode:'',

            errors:{},

            //images upload 
            style_fields: [
                {
                    fieldKey: 'image',
                    type: 'file',
                    title: 'Select Images',
                },
            ],
            images:[],
            files:[]

        }

    },

    components: {

        FileUpload

    },

    watch: {

        files:function (newQuestion, oldQuestion) {
            this.images = newQuestion;
        }

    },

    methods: {

        fileUploader(val) {

            this.files = val;

        },

        goBack() {

            this.$router.go(-1);

        },
        
        saveProduct() {

            this.loading = true;

            const formData = new FormData();
            
            this.files.forEach(file => {

                formData.append('images[]', file, file.name);

            });

            formData.append('name',this.productName);
            formData.append('category',this.categoryVal);
            formData.append('brand',this.brandVal);
            formData.append('description',this.description);
            formData.append('price',this.price);
            formData.append('featured',this.featured);
            formData.append('quantity',this.quantity);
            formData.append('barcode',this.barcode);

            const config = { headers: { 'Content-Type': 'multipart/form-data' } };

            axios.post('/product/create', formData,config )
                .then(response => {

                    this.$notify({

                        title: 'Success',
                        message: 'Product Saved!',
                        type: 'success',
                        position: 'top-right'

                    });

                    this.$router.push('/admin/products');

                })
                .catch(error => {
                    
                    if(error.response) {

                        this.errors = error.response.data.errors;

                    }else {

                        this.$notify({

                            title: 'Error',
                            message: 'Something went wrong!',
                            type: 'error',
                            position: 'top-right'

                        }); 

                    }
                })
                .then(() => {
                    this.loading = false;
                });

        },

        initialize(){

            this.loading = true;

            axios.get('/all-categories-and-products')
                .then(response=>{

                    if(response.data){
                        this.categories    =   response.data.categories; 
                        this.brands    =   response.data.brands; 
                    }
                    
                })
                .catch(error => {
                
                })
                .then(() => {
                    this.loading = false; 
                });

        }

    },

    mounted() {

        this.initialize();

    }
}
</script>
