<template>

    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Customers / All Customers
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <!--We Have forms Now Start-->
        <div class="all_payforms_wrapper payform_section">

            <!--Header start-->
            <div class="header_wrapper">
                <h1 class="header_section_title">
                    {{ 'All customers' }}
                </h1>
                <div class="header_section_actions">

                    <div class="header_search_action">

                        <el-input @keyup.enter.native="allcustomers()" size="small" placeholder="Search" v-model="search_string" class="input-with-select">
                            <el-button @click="allcustomers()" slot="append" icon="el-icon-search"></el-button>
                        </el-input>

                    </div>
                    
                </div>

            </div>
            <!--header end-->

            <!--table start-->
            <div class="payform_section_body">

                <el-table style="width: 100%" :data="customers" @selection-change="handleSelectionChange" ref="multipleTable">
                
                    <!-- <el-table-column type="selection" width="55">
                    </el-table-column> -->

                    <el-table-column type="expand" >
                        <template slot-scope="props">

                            <p>Id: {{ props.row.id }}</p>
                            
                            <p>Created At: {{ props.row.created_at }}</p>

                        </template>
                    </el-table-column>

                    <el-table-column
                        label="Id"
                        prop="id"
                        width="160">
                    </el-table-column>

                    <el-table-column
                        label="Customer Type"
                        width="160"
                    >

                        <template slot-scope="props">
                            <p>{{  props.row.customer_type }}</p>
                            <!-- <el-button size="mini" @click="customerDetails(scope.row.customer)" type="primary">Customer Details</el-button> -->
                        </template>

                    </el-table-column>

                    <el-table-column
                        label="Customer Name"
                        width="160"
                    >

                        <template slot-scope="props">
                            <p v-if="props.row.name">{{  props.row.name }}</p>
                            <p v-else>Not Available</p>
                        </template>

                    </el-table-column>

                    <el-table-column
                        label="Customer Phone"
                        width="160"
                    >

                        <template slot-scope="props">
                            <p v-if="props.row.phone">{{  props.row.phone }}</p>
                            <p v-else>Not Available</p>
                        </template>

                    </el-table-column>

                    <el-table-column
                        label="Order"
                        width="180"
                    >

                        <template slot-scope="scope">
                            <el-button size="mini" @click="orderDetails(scope.row)" type="primary">Order Details</el-button>
                        </template>

                    </el-table-column>

                    <el-table-column
                        label="Date"
                        width="180">

                        <template slot-scope="scope">
                        {{ $dateFormat(scope.row.created_at) }}
                        </template>

                    </el-table-column>

                </el-table>
            </div>
            <!--table end-->

            <div class="fluentpos_pagination">
                <el-pagination
                    background
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="page_number"
                    :page-size="per_page"
                    :page-sizes="pageSizes"
                    layout="total, sizes, prev, pager, next"
                    :total="total">
                </el-pagination>
            </div>

        </div>
        <!-- end: PAGE CONTENT -->

        <!-- Delete form Confimation Modal -->
        <el-dialog
            :visible.sync="orderDialogVisible"
            :fullscreen="true">

                <order-details :customer_details="customer_details" :order_data="orderData"></order-details>

        </el-dialog>

    </div>

</template>

<script>

import orderDetails from './orderDetails';

export default {
    
    components: {

        orderDetails

    },

    data() {

        return {

            loading:false,

            //table selection checkbox
            multipleSelection:[],

            //table pagination
            per_page: 10,
            page_number: 1,
            total: 0,
            pageSizes: [5,10, 20, 30, 40, 50, 100, 200],

            customers : [],
            search_string : '',
            hascustomers : false,

            orderData : false,
            orderDialogVisible : false,

            editingData:false,

            //bulk options
            bulkValue:'',
            bulkOptions:[{
                value: 'delete',
                label: 'Delete All'
            }],
            selectVisibleForBulkAction:false,
            customer_details:{
                name:'',
                type:'',
                phone:''
            },
            showCustomerDetails:false

        }

    },

    methods: {

        orderDetails(row) {

            this.orderDialogVisible = true;
            this.orderData = row.orders;
            this.customer_details.type  = row.customer_type;
            this.customer_details.name  = row.name;
            this.customer_details.phone = row.phone;

        },

        customerDetails(customer) {

            this.customer_details = customer;
            this.showCustomerDetails = true;

        },

        //table selection checkbox
        handleSelectionChange(val) {

            this.multipleSelection = val;
            
        },
        
        //table pagination
        handleSizeChange(val) {

            this.per_page = val;
            this.allcustomers();

        },

        handleCurrentChange(val) {

            this.page_number = val;
            this.allcustomers();

        },

        findTotal(row) {

            let sum = parseInt(row.subtotal);

            if(row.shipping) {

                sum += parseInt(row.shipping);

            }

            if(row.tax) {

                sum += parseInt(row.tax);

            }

            if(row.discount) {

                sum -= parseInt(row.discount);

            }

            return sum;

        },

        //customers crud read
        allcustomers() {

            this.loading = true;
            let page = this.page_number;
            let perPage =  this.per_page;
            let search  = this.search_string;

            axios.get('/customers/?page='+page+'&paginate='+perPage+'&s='+search)
                .then(response => {
                    
                    let all_customers   = response.data.customers.data;
                    this.customers      = all_customers;
                    this.total          = response.data.total;
                    this.hascustomers   = all_customers.length;

                })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                   this.loading = false; 

                });

        },

        orderNow() {

            this.orderDialogVisible = true;

        },

    },

    mounted() {

        this.allcustomers();
        
    }

}

</script>
