<template>
    <div>
        
        <div class="well customer-info">
            <h1>Customer's Orders</h1>
            <span customer_details.type>Customer Type:   <strong>{{ customer_details.type }}</strong></span>
            <span v-if="customer_details.name">Customer Name:   <strong>{{ customer_details.name }}</strong></span>
            <span v-if="customer_details.phone">Customer Phone:  <strong>{{ customer_details.phone }}</strong></span>
        </div>

        <!--table start-->
        <div class="payform_section_body">

            <el-table style="width: 100%" :data="order_data" @selection-change="handleSelectionChange" ref="multipleTable">
            
                <el-table-column type="selection" width="55">
                </el-table-column>

                <el-table-column type="expand" >
                    <template slot-scope="props">

                        <p>Id: {{ props.row.id }}</p>
                        
                        <p>Created At: {{ props.row.created_at }}</p>

                    </template>
                </el-table-column>

                <el-table-column
                    label="Id"
                    prop="id">
                </el-table-column>

                <el-table-column
                    label="Status"
                >

                    <template slot-scope="props">

                        <div v-if="props.row.order_status == 'returnable'">
                            <el-badge :value="props.row.order_status" class="item" type="primary" />
                        </div>

                        <div v-if="props.row.order_status == 'paid'">
                            <el-badge :value="props.row.order_status" class="item" type="success" />
                        </div>

                        <div v-if="props.row.order_status == 'due'">
                            <el-badge :value="props.row.order_status" class="item" type="warning" />
                        </div>

                    </template>

                </el-table-column>

                <el-table-column
                    label="Paid"
                    prop="paid">
                </el-table-column>

                <el-table-column
                    label="Subtotal"
                    prop="subtotal">
                </el-table-column>

                <el-table-column
                    label="Tax"
                    prop="tax">
                </el-table-column>

                <el-table-column
                    label="Shipping"
                    prop="shipping">
                </el-table-column>

                <el-table-column
                    label="Discount"
                    prop="discount">
                </el-table-column>

                <el-table-column
                    label="Date"
                >
                    <template slot-scope="scope">
                        {{ $dateFormat(scope.row.created_at) }}
                    </template>

                </el-table-column>

            </el-table>
        </div>
        <!--table end-->

    </div>
</template>

<script>
export default {
    
    props:['order_data','customer_details'],

    methods: {

        handleSelectionChange() {

        }

    }

}
</script>