<template>

    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="genearal-settings">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Settings / Genral
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <div class="form-container">
            <el-row class="form-row" :gutter="5">

                <el-col :span="12" class="form-col">

                    <div style="display:block">
                        <h4>Tax Settings :</h4>

                        <el-radio-group v-model="tax_settings">
                            <el-radio :label="'flat'">Flat</el-radio>
                            <el-radio :label="'percent'">Percent</el-radio>
                        </el-radio-group>

                        <div v-if="tax_settings === 'percent'">
                            <el-input type="number" @input="taxValue" v-model="tax" min="0" max="100" size="mini"></el-input>
                            <span style="display:block">(between 0 to 100)</span>
                        </div>

                    </div>

                    <div style="display:block">

                        <h4>Currency Settings :</h4>
                        <!-- <pre>{{ currencies }}</pre> -->
                        <el-select v-if="currencies.length"
                            v-model="currency"
                            filterable 
                            clearable
                            placeholder="Please enter a keyword"
                        >
                            <el-option
                                v-for="( item,index) in currencies"
                                :key="index"
                                :label="item.label"
                                :value="item.value"
                            >
                            </el-option>
                        </el-select>

                        <!-- <div>
                            <el-input type="text" v-model="currency" placeholder="Currency Symbol" size="mini"></el-input>
                            <p v-if="errors.currency_symbol" style="color:red">{{ errors.currency_symbol[0] }}</p>
                            <span style="display:block"><a target="_blank" href="https://justforex.com/education/currencies">Get Currency Symbol</a></span>

                        </div> -->

                    </div>

                    <div style="display:block">

                        <h4>Shop Settings :</h4>

                        <div>
                            <el-input type="text" v-model="softwareName" placeholder="Shop Name" size="mini"></el-input>
                            <p v-if="errors.software_name" style="color:red">{{ errors.software_name[0] }}</p>
                        </div>

                    </div>
                    
                    
                    <el-button type="primary" size="mini" @click="updateSettings">Update Settings</el-button>

                </el-col>

            </el-row>
        </div>
        <!-- end: PAGE CONTENT -->

    </div>

</template>

<script>

export default {

    data() {

        return {

            loading:'',
            tax_settings:'',
            tax:0,
            currency:'USD',
            settings:{},
            softwareName:'',
            errors:{},
            currencies:[]
            
        }

    },

    methods: {

        taxValue() {

            if(this.tax>100) {

                this.tax = 100;

            }else if(this.tax<0) {

                this.tax=0;
            }

        },

        updateSettings() {

            this.loading = true;

            let info = {

                'tax_type':this.tax_settings,
                'tax_rate':this.tax,
                'currency_code':this.currency ,
                'software_name':this.softwareName

            };

            let self = this;

            axios.post('/update-settings',info)
                .then(response => {

                    console.log('response',response);

                    this.$notify({

                      title: 'Success',
                      message: 'Settings updated!',
                      type: 'success',
                      position: 'top-right'

                    });

                    self.errors = {};
                    this.getSettings();

                })
                .catch(error => {

                    this.errors = error.response.data.errors;

                })
                .then(() => {

                   this.loading = false; 

                });

        },

        getSettings() {

            this.loading = true;
            axios.get('/settings')
                .then(response => {
                    
                    console.log('response ',response);

                    let settings    = response.data.settings.settings.general_settings;
                    this.currencies = response.data.currencies;

                    if(settings) {
                        
                        this.currency     = settings.currency_settings.currency_code;
                        this.tax          = settings.tax_settings.tax_rate;
                        this.tax_settings = settings.tax_settings.tax_type;
                        this.softwareName = settings.software_settings.software_name;
                        this.$store.dispatch('settingsAction',settings);
                        
                    }

                })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                   this.loading = false; 

                });
        }
     
    },

    mounted() {

        this.getSettings();

    }

}

</script>
