<template>

    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="genearal-settings">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Settings / Pos Settings
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <div class="form-container">
            <el-row class="form-row" :gutter="5">

                <el-col :span="12" class="form-col">

                    <div style="display:block">

                        <h4>Stripe Settings</h4>

                        <div>
                            <p>Stripe Publishable Key :</p>
                            <el-input type="text" v-model="stripePublicableKey" placeholder="Shop Name" size="mini"></el-input>
                            <!-- <p v-if="errors.software_name" style="color:red">{{ errors.software_name[0] }}</p> -->
                            
                            <p>Stripe Secret Key :</p>
                            <el-input type="text" v-model="stripeSecretKey" placeholder="Shop Name" size="mini"></el-input>
                            <!-- <p v-if="errors.software_name" style="color:red">{{ errors.software_name[0] }}</p> -->
                        </div>

                    </div>
                    
                    
                    <el-button type="primary" size="mini" @click="updateSettings">Update Settings</el-button>

                </el-col>

            </el-row>
        </div>
        <!-- end: PAGE CONTENT -->

    </div>

</template>

<script>

export default {

    data() {

        return {

            loading: false,
            stripePublicableKey: '',
            stripeSecretKey: '',
            errors: {},

            
        }

    },

    methods: {

        updateSettings() {

            this.loading = true;

            let info = {
                'stripePublicableKey': this.stripePublicableKey,
                'stripeSecretKey': this.stripeSecretKey,
            };

            let self = this;

            axios.post('/update-advance-settings',info)
                .then(response => {

                    console.log('response',response);

                    this.$notify({

                      title: 'Success',
                      message: 'Settings updated!',
                      type: 'success',
                      position: 'top-right'

                    });

                    self.errors = {};
                    this.getSettings();

                })
                .catch(error => {

                    this.errors = error.response.data.errors;

                })
                .then(() => {

                   this.loading = false; 

                });

        },

        getSettings() {

            this.loading = true;
            axios.get('/advance-settings')
                .then(response => {
                    
                    console.log('response ',response.data);

                    let settings    = response.data.settings.advance_settings;

                    if(settings) {
                        
                        this.stripePublicableKey      = settings.stripe_settings.publication_key;
                        this.stripeSecretKey          = settings.stripe_settings.secret_key;

                        this.$store.dispatch('advanceSettingsAction',settings);
                        
                    }

                })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                   this.loading = false; 

                });
        }
     
    },

    mounted() {

        this.getSettings();

    }

}

</script>
