<template>

    <!-- start: PAGE CONTENT -->
    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Settings / Profile
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <div class="tab-wrapper">
            <el-tabs type="card">

                <el-tab-pane label="User Info">
                    <div id="panel_overview" class="tab-pane in active">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="user-left">
                                    <div class="center">
                                        <h4>{{ name }}</h4>
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="user-image">
                                                <div id="kv-avatar-errors" class="center-block" style="display:none"></div>
                                                <div class="kv-avatar ">
                                                    <div class="file-preview-thumbnails">
                                                        <div class="file-default-preview">
                                                            <img height="100%" width="100" :src="image_value" alt="avatar">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <hr>
                                    </div>
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Genral Information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td>
                                                    <a href="#">
                                                    {{ name }}
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>email:</td>
                                                <td>
                                                    <a href="">
                                                        {{ email }}
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>phone:</td>
                                                <td>{{ phone }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>

                <el-tab-pane label="Change User Info">

                    <div class="form-container">
                        <el-row class="form-row">

                            <el-col :span="12" class="form-col">

                                <div>

                                    <p>Name :</p>
                                    <el-input type="text" v-model="name" size="mini"></el-input>
                                    <p v-if="errors.name" style="color:red">{{ errors.name[0] }}</p>

                                    <p>Email :</p>
                                    <el-input type="email" v-model="email" size="mini"></el-input>
                                    <p v-if="errors.email" style="color:red">{{ errors.email[0] }}</p>

                                    <p>Phone :</p>
                                    <el-input type="text" v-model="phone" size="mini" auto-complete="off"></el-input>

                                    <el-button type="primary" size="mini" @click="updateInfo">Update</el-button>
                                
                                </div>
                                
                            </el-col>

                        </el-row>

                    </div>
                </el-tab-pane>

                <el-tab-pane label="Change Avatar">
                    <div class="form-container">
                        <el-row class="form-row">

                            <el-col :span="12" class="form-col">

                                <div class="file-uploder-section">
                                    
                                    <el-upload
                                        class="avatar-uploader"
                                        :headers="headerInfo"
                                        action="/upload-image"
                                        :show-file-list="false"
                                        accept_x="image/png, image/jpeg"
                                        :on-error="handleUploadError"
                                        :on-success="handleUploadSuccess"
                                        :auto-upload="false"
                                        :file-list="fileList"
                                        :on-change="handleUploadChange"
                                        
                                    >

                                        <img v-if="image_value" :src="image_value" class="avatar"/>
                                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                    
                                    </el-upload>

                                    <!-- <p v-if="errors.total_expense" style="color:red">{{ errors.total_expense[0] }}</p> -->
                                    <el-button type="primary" size="mini" @click="changeAvatar">Change Avatar</el-button>
                                
                                </div>
                                
                            </el-col>

                        </el-row>
                    </div>
                </el-tab-pane>

                <el-tab-pane label="Change Password">
                    <div class="form-container">
                        <el-row class="form-row">

                            <el-col :span="12" class="form-col">

                                <div>

                                    <p>Old Password :</p>
                                    <el-input type="text" v-model="oldPassword" size="mini" show-password></el-input>
                                    <p v-if="errors.oldPassword" style="color:red">{{ errors.oldPassword[0] }}</p>
                                    <p>New Password :</p>
                                    <el-input type="text" v-model="newPassword" size="mini" show-password></el-input>
                                    <p v-if="errors.password" style="color:red">{{ errors.password[0] }}</p>
                                    <p>Confirm Password :</p>
                                    <el-input type="text" v-model="confirmPassword" size="mini" show-password></el-input>
                                    <!-- <p v-if="errors.total_expense" style="color:red">{{ errors.total_expense[0] }}</p> -->
                                    <el-button type="primary" size="mini" @click="changePassword">Change Password</el-button>
                                
                                </div>
                                
                            </el-col>

                        </el-row>
                    </div>
                </el-tab-pane>

            </el-tabs>
        </div>

        

    </div>
    <!-- end: PAGE CONTENT -->

</template>

<script>

export default {

    data() {

        return {

            loading:'',
            activeName: 'first',
            name:'',
            email:'',
            phone:'',
            errors:{},

            //password change field
            user:{},
            oldPassword:'',
            newPassword:'',
            confirmPassword:'',

            uploadUrl:'/upload-image',
            image_value:'/images/profile/profile-image.jpg',
            headerInfo:{},
            fileList:[],
            file:false
        }

    },

    methods: {
      
        handleUploadChange(file, lists) {

            this.fileList = lists.slice(-1);
            this.file = this.fileList[0].raw;

            const reader = new FileReader();

            reader.addEventListener("load", function () {

                this.showPreview = true;
                this.image_value = reader.result;

            }.bind(this), false);

            /*
            Check to see if the file is not empty.
            */
            if( this.file ) {

                /*
                    Ensure the file is an image file.
                */
                if ( /\.(jpe?g|png|gif)$/i.test( this.file.name ) ) {

                    /*
                    Fire the readAsDataURL method which will read the file in and
                    upon completion fire a 'load' event which we will listen to and
                    display the image in the preview.
                    */
                    reader.readAsDataURL( this.file );

                }

            }
            

        },

        handleUploadError() {

            console.log('error');

        },
        
        handleUploadSuccess(success,file) {

            
        },

        changeAvatar() {

            this.loading  = true;

            const formData = new FormData();
            formData.append('image', this.file, this.file.name)
 
            axios.post('/update-avatar',formData   )
                .then(response => {
                                        
                    this.$notify({

                      title: 'Success',
                      message: 'Avatar updated!',
                      type: 'success',
                      position: 'top-right'

                    });

                    this.errors = {};
                    
                })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                   this.loading = false; 

                });

        },

        changePassword() {
            

            this.loading = true;

            let info = {

                'oldPassword':this.oldPassword,
                'password':this.newPassword,
                'password_confirmation':this.confirmPassword,
                'authUser':this.user

            }

            axios.post('/update-password',info)
                .then(response => {
                    

                    this.$notify({

                      title: 'Success',
                      message: 'Password updated!',
                      type: 'success',
                      position: 'top-right'

                    });

                    this.errors = {};
                    
                })
                .catch(error => {

                    if(error.response){

                      this.errors = error.response.data.errors;

                    }else{

                        this.$notify({

                            title: 'Error',
                            message: 'Something went wrong!',
                            type: 'error',
                            position: 'top-right'

                        }); 

                    }
                })
                .then(() => {

                   this.loading = false; 

                });
        },

        updateInfo() {

            this.loading = true;
            let info = {

                'name':this.name,
                'email':this.email,
                'phone':this.phone,

            }

            axios.post('/update-info',info)
                .then(response => {
                    
                    this.$notify({

                      title: 'Success',
                      message: 'User info updated!',
                      type: 'success',
                      position: 'top-right'

                    });

                    this.errors = {};
                    this.getProfile();
                    
                })
                .catch(error => {

                    if(error.response){

                      this.errors = error.response.data.errors;

                    }else{

                        this.$notify({

                            title: 'Error',
                            message: 'Something went wrong!',
                            type: 'error',
                            position: 'top-right'

                        }); 
                    }

                })
                .then(() => {

                   this.loading = false; 

                });
        },

        getProfile() {

            this.loading = true;
            let self = this;

            axios.get('/get-profile')
                .then(response => {

                    let profile = response.data.userInfo;

                    if(profile.image){

                        this.image_value = '/images/profile/'+ profile.image;

                    }

                    if(profile.phone){

                        this.phone = profile.phone;

                    }

                    if(profile.email){

                        this.email = profile.email;

                    }

                    if(profile.name){

                        this.name = profile.name;
                        this.$store.dispatch('userAction',profile.name);

                    }

                })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                   this.loading = false; 

                });
        }
     
    },
    mounted() {
        
        this.getProfile();
            
    }
}

</script>
