.el-icon-edit,.el-icon-delete{
    cursor: pointer;
    margin-right: 5px;
}

.el-input,.el-input__inner{
    border:none
}

.el-input:focus,.el-input__inner:focus{
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}