@charset "UTF-8";
.btn,
.btn-icon .badge,
body {
    font-family: "Open+Sans", sans-serif;
}
body {
    color: #000;
    direction: ltr;
    font-size: 13px;
    padding: 0 !important;
    margin: 0 !important;
    background: #fff;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #2ac176;;
}

::selection {
    color: #fff;
    background: #2ac176;;
}

.page-header h1,
body h1,
body h2,
body h3 {
    font-family: Raleway, sans-serif;
}
body.bg_style_1 {
    background: url(../images/bg.png) !important;
}
body.bg_style_2 {
    background: url(../images/bg_2.png) !important;
}
body.bg_style_3 {
    background: url(../images/bg_3.png) !important;
}
body.bg_style_4 {
    background: url(../images/bg_4.png) !important;
}
body.bg_style_5 {
    background: url(../images/bg_5.png) !important;
}
body a,
body a:active,
body a:focus,
body a:hover {
    outline: 0 !important;
}
.main-container {
    margin-top: 48px;
}
.page-full-width .main-container {
    margin-top: 98px;
}
.header-default .main-container {
    margin-top: 0 !important;
}
.main-content {
    margin-top: 0;
    background-color: #fff;
    padding: 0;
}
.container {
    background: #ffffff;
    max-width: none !important;
    width: auto !important;
}
.layout-boxed .main-container,
.layout-boxed > .footer,
.layout-boxed > .navbar {
    max-width: 1170px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
}
.footer-fixed .main-content .container {
    margin-bottom: 22px;
}
[class*=" icon-"],
[class^="icon-"] {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
[class*=" icon-"]:before,
[class^="icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
a [class*=" icon-"],
a [class^="icon-"] {
    display: inline;
}
.icon-magic:before {
    content: "\f0d0";
}
.icon-bold:before {
    content: "\f032";
}
.icon-italic:before {
    content: "\f033";
}
.icon-underline:before {
    content: "\f0cd";
}
.icon-eraser:before {
    content: "\f12d";
}
.icon-font:before {
    content: "\f031";
}
.icon-list-ul:before {
    content: "\f0ca";
}
.icon-list-ol:before {
    content: "\f0cb";
}
.icon-align-left:before {
    content: "\f036";
}
.icon-text-height:before {
    content: "\f034";
}
.icon-table:before {
    content: "\f0ce";
}
.icon-link:before {
    content: "\f0c1";
}
.icon-picture:before {
    content: "\f03e";
}
.icon-fullscreen:before {
    content: "\f0b2";
}
.help-button:before,
.icon-question:before {
    content: "\f128";
}
.icon-chevron-up:before {
    content: "\f077";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-arrow-left:before {
    content: "\f060";
}
.icon-arrow-right:before {
    content: "\f061";
}
.icon-wrench:before {
    content: "\f0ad";
}
.icon-refresh:before {
    content: "\f021";
}
.icon-remove:before {
    content: "\f00d";
}
.icon-resize-full:before {
    content: "\f065";
}
.icon-check-empty:before {
    content: "\f096";
}
.icon-check:before {
    content: "\f046";
}
.icon-ok:before {
    content: "\f00c";
}
.icon-external-link-sign:before {
    content: "\f14c";
}
.icon-double-angle-left:before {
    content: "\f100";
}
.icon-double-angle-right:before {
    content: "\f101";
}

.page-header {
    margin: 20px 0;
}
.page-header h1 {
    font-weight: 200;
    letter-spacing: -1px;
    margin: 0 0 15px;
    padding: 0;
    color: #666;
}
.page-header h1 small {
    color: #888;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
}
.full-white-backdrop {
    background-color: #fff;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.icons > section {
    margin-top: 20px;
}
.the-icons li {
    line-height: 40px;
}
.the-icons li i {
    -moz-transition: font-size 0.2s ease 0s;
    -o-transition: font-size 0.2s ease 0s;
    -webkit-transition: font-size 0.2s ease;
    -webkit-transition-delay: 0s;
    transition: font-size 0.2s ease 0s;
}
.the-icons li:hover i {
    font-size: 26px;
}

span.input-help,
span.input-icon {
    display: block;
    position: relative;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0 !important;
    color: #858585;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2;
    padding: 5px 4px;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
textarea:hover {
    border-color: #b5b5b5;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus {
    /* border-color: rgba(82, 168, 236, 0.8);
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6); */
    outline: 0;
}
label {
    font-weight: 400;
}

.badge-new,
.table tbody > tr > td,
.table tbody > tr > th,
.table tfoot > tr > td,
.table tfoot > tr > th,
.table thead > tr > td,
.table thead > tr > th,
.table.table-bordered thead tr th {
    vertical-align: middle;
}

.dd-empty,
.dd-handle,
.dd-placeholder {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.space5 {
    display: block;
    margin-bottom: 5px !important;
    clear: both;
}
.space7 {
    margin-bottom: 7px !important;
    clear: both;
}
.space10 {
    margin-bottom: 10px !important;
    clear: both;
}
.space12 {
    margin-bottom: 12px !important;
    clear: both;
}
.space15 {
    margin-bottom: 15px !important;
    clear: both;
}
.space20 {
    margin-bottom: 20px !important;
    clear: both;
}
.teal {
    color: #569099;
}
a.teal:hover {
    color: #4d8189;
}
.orange {
    color: #e6674a;
}
a.orange:hover {
    color: #e35434;
}
.bricky {
    color: #c83a2a;
}
a.bricky:hover {
    color: #b33426;
}
.circle-img {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.center {
    text-align: center;
}
.go-top {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: -2px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
}
.navbar {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 42px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-top: none;
    background: 0 0;
    border-color: #fff;
}
.logo,
.navbar > .container .navbar-brand {
    padding: 14px 10px 12px;
    margin-left: 0;
    font-family: Raleway, sans-serif;
    min-width: 210px;
}
.navbar > .container .navbar-brand {
    font-size: 25px;
}
.navbar > .container .navbar-brand i {
    font-size: 20px;
}
.logo {
    font-size: 25px;
}
.logo i {
    font-size: 20px;
}
.header-default .navbar {
    position: relative !important;
}
.navbar-tools > ul {
    list-style: none;
}
.navbar-tools > ul > li {
    float: left;
}
.navbar-tools > ul > li.dropdown {
    margin-left: 2px;
    margin-right: 2px;
}
.navbar-tools > ul > li.dropdown .dropdown-toggle .badge {
    -moz-border-radius: 12px !important;
    -webkit-border-radius: 12px;
    border-radius: 12px !important;
    font-size: 11px !important;
    font-weight: 300;
    padding: 3px 6px;
    position: absolute;
    right: 24px;
    text-align: center;
    text-shadow: none !important;
    top: 8px;
}
.navbar-tools > ul > li > a {
    padding: 15px 15px 9px;
    font-size: 16px;
    line-height: 26px;
}
.navbar-tools li.view-all a {
    padding: 8px 8px 6px !important;
}
.navbar-tools .dropdown-menu {
    background: #fff;
    border: 1px solid #c7cbd5;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0;
    border-radius: 0 0 4px 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    list-style: none;
    margin: 0;
    max-width: 300px;
    min-width: 166px;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}
.navbar-tools .dropdown-menu > li > a:focus,
.navbar-tools .dropdown-menu > li > a:hover {
    background-color: #f4f6f9 !important;
    background-image: none;
    filter: none;
    color: #000;
    text-decoration: none;
}
.navbar-tools .dropdown-menu li .dropdown-menu-title {
    display: block;
    font-weight: 700;
    margin: -1px;
    padding: 5px 10px;
    background-color: #189410;
}
.navbar-tools .dropdown-menu li a,
.navbar-tools .dropdown-menu li p {
    color: #333;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 8px 8px 6px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.22);
    white-space: normal !important;
    display: block;
}
.navbar-tools .dropdown-menu li p {
    font-weight: 700;
}
.navbar-tools .dropdown-menu li a .author {
    color: #000000;
    display: block;
}
.navbar-tools .dropdown-menu li a .preview {
    display: block;
}
.navbar-tools .dropdown-menu li a .time {
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    display: block;
    float: right;
}
.navbar-tools .dropdown-menu li:last-child a {
    border-bottom: none !important;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0;
    border-radius: 0 0 6px 6px;
}
.navbar-tools .dropdown-menu li.view-all a i {
    float: right;
    margin-top: 4px;
}
.navbar-tools .dropdown-menu.notifications li > a > .label {
    margin-right: 2px;
    padding: 2px 4px;
    text-align: center !important;
}
.badge-new,
.btn-icon,
.dd-item > button,
.dd3-handle:before,
.navigation-toggler,
td.center,
th.center {
    text-align: center;
}
.navbar-tools .dropdown-submenu:focus > a,
.navbar-tools .dropdown-submenu:hover > a {
    background-color: #f4f6f9 !important;
    background-image: none;
    filter: none;
    color: #000;
    text-decoration: none;
}
.navbar-tools .drop-down-wrapper {
    height: 250px;
    width: 270px;
    overflow: hidden;
    position: relative;
}
.navbar-tools .drop-down-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-tools .drop-down-wrapper li a:focus,
.navbar-tools .drop-down-wrapper li a:hover {
    background-color: #f4f6f9 !important;
    background-image: none;
    filter: none;
    color: #000;
    text-decoration: none;
}
.navbar-tools .drop-down-wrapper li a,
.navbar-tools .drop-down-wrapper li p {
    color: #333;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 8px 8px 6px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.22);
    white-space: normal !important;
    display: block;
}
.navbar-tools .drop-down-wrapper > li:last-child a {
    border-bottom: none;
}
.navbar-tools .thread-image {
    margin-right: 8px;
    float: left;
    height: 50px;
    width: 50px;
}
ul.notifications li,
ul.posts li,
ul.todo li {
    min-width: 260px;
}
li.dropdown.current-user .dropdown-toggle {
    padding: 10px 4px 7px 9px;
}
li.dropdown.current-user .dropdown-menu li a {
    border-bottom: none !important;
}
.navbar-toggle {
    float: left;
    border: none;
    border-radius: 0;
    margin-top: 5px;
    margin-bottom: 4px;
}
.navbar-toggle span {
    font-size: 16px;
}

.btn-squared,
.nav-tabs > li > a {
    -moz-border-radius: 0 !important;
}
.sidebar-search .form-group button i {
    color: #999;
}

ul.main-navigation-menu li a .icon-arrow:before,
ul.main-navigation-menu > li > a > .icon-arrow:before {
    content: "\e163";
    font-family: clip-font;
}

.main-navigation {
    padding: 0;
    max-height: none !important;
    z-index: 1000;
}
.sidebar-fixed .wrap-menu {
    overflow: hidden;
    position: fixed;
    width: 225px;
    height: 300px;
}
ul.main-navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.main-navigation-menu > li {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}
ul.main-navigation-menu > li.last > a,
ul.main-navigation-menu > li:last-child > a {
    border-bottom-color: transparent !important;
}
ul.main-navigation-menu > li > a {
    border: 0;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
}
ul.main-navigation-menu > li > a i {
    font-size: 16px;
    margin-right: 5px;
    text-shadow: none;
    display: inline-block;
}
ul.main-navigation-menu li a .badge {
    float: right;
    margin-right: 13px;
    margin-top: 1px;
}
ul.main-navigation-menu li a .icon-arrow {
    float: right;
    margin-right: 6px;
}
ul.main-navigation-menu li.open > a > .icon-arrow:before {
    content: "\e164";
    font-family: clip-font;
}
ul.main-navigation-menu li.active > ul.sub-menu {
    display: block;
    padding: 0;
}
ul.main-navigation-menu li > ul.sub-menu {
    clear: both;
    list-style: none;
    margin: 8px 0;
    display: none;
    padding: 0;
}
ul.main-navigation-menu li > ul.sub-menu > li {
    background: 0 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px !important;
    padding: 0;
}
ul.main-navigation-menu li > ul.sub-menu > li > a {
    background: 0 0;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 40px !important;
    padding-right: 0;
    padding-top: 5px;
    text-decoration: none;
}
ul.main-navigation-menu li > ul.sub-menu li > a .icon-arrow {
    margin-right: 22px;
}
ul.main-navigation-menu li > ul.sub-menu li > ul.sub-menu {
    margin: 0;
}
ul.main-navigation-menu li > ul.sub-menu li > ul.sub-menu > li > a {
    padding-left: 60px !important;
}
ul.main-navigation-menu li > ul.sub-menu li > ul.sub-menu > li > ul.sub-menu > li > a {
    padding-left: 80px !important;
}
.navigation-toggler {
    cursor: pointer;
    height: 30px;
    margin-left: 175px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    line-height: 30px;
}

.breadcrumb {
    margin: 0 -15px;
    border-radius: 0;
    padding: 15px 45px 15px 15px;
    border-bottom: 1px solid #c8c7cc;
    position: relative;
    height: 51px;
}
.breadcrumb i {
    color: #ccc;
    font-size: 16px;
    display: inline-block;
}

.navbar-toggle {
    box-shadow: none !important;
    background-color: #ffffff;
    cursor: pointer !important;
}
.navbar-toggle {
    box-shadow: none !important;
    background-color: #ffffff;
    cursor: pointer !important;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #ffffff !important;
    cursor: pointer !important;
}

.navbar-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.clock{
    font-weight: bold;
    font-size:20px;
    margin: 0 auto;
}

.navbar-header button.navbar-toggle {
    background-color: #ffffff !important;
    cursor: pointer !important;
}

.dropdown-item {
    line-height: 1.42857143;
}

.dropdown-item:focus {
    outline: none;
}

.clock{
    font-size: 14px;
    color:#17B341;
}

.unseen-notification{
    background-color: #f7e3a9;
    color: #000000;
}

.seen-notification{
    background-color: #ffffff;
    
}
