.button-content{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .button-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.chart-content {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    .chart-container {
        display: flex;
        border-radius: 6px;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        background-color: #FFFFFF;
        color: #252422;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        width: 500px;
        max-width: 500px;

        @media only screen and (max-width: 600px) {
            width: 320px;
            max-width: 320px;
        }
        
        .chart {
            padding: 15px 15px 10px 15px;
            width: 100%;
            max-width: 500px;
        }
    }
}

.card-container {
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.card1{
    display: flex;
    //background-color: #17a2b8;
    color:#17a2b8;
    padding: 3px 26px;
}

.card2 {
    display: flex;
    //background-color: #28a745;
    color:#28a745;
    padding: 3px 26px;

}

.card-part-two {
    display: flex;
    flex-direction: column;
}

.more-info a{
    display: flex;
    width:100%;
    //color:#000000;
    text-decoration: none;
}

.more-info a:link{
    width: 100%;
    line-height: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    color:#000000;
}

.more-info a:hover{
    text-decoration: none;
    color:#000000;
}

.info1{
  //  background-color: #1c8899;
    color:#1c8899;
}

.info2{
   // background-color: #0e7837;
    color:#0e7837;
}

.info3{
   // background-color: #501bc2;
    color:#733686;
}

.card3 {
    display: flex;
   // background-color: #6610f2;
    color:#733686;
    padding: 3px 26px;
}

.info4{
    // background-color: #501bc2;
     color:#297ff9;
 }
 
.card4 {
     display: flex;
    // background-color: #6610f2;
     color:#297ff9;
     padding: 3px 26px;
 }


.card-part-one{
    display: flex;
    font-size: 60px;
    margin: 12px 5px 0px 0px;
}

.card-inner{
    flex-basis: 70%;
    align-items: center;
    align-content: center;

    h2,h4{
        text-align: center;
    }
    p{
        text-align: center;
    }
}

.card-shadow {
    //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card3:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card4:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  

.card div p {
    flex: 1
}

.card div .bottom {
    flex: 0;
}

@media only screen and (max-width: 600px) {

    .card-container {
        padding-top:50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .column {
        display: flex;
        flex: 1;
        width: 100%;
        margin-top:10px;
        flex-direction: column;
    }



}



