<template>
    <div class="modal-body ">

        <el-tabs type="border-card">

            <el-tab-pane 
                :label="'Payemnt ' + payAmount"
            >

                <div class="payment-section">

                    <!-- <p>Payment Method: </p> -->
                    <!-- <el-select v-model="payment_value" clearable placeholder="Select">
                        <el-option
                        v-for="item in payment_options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select> -->

                    
                    <div class="card-element-container" v-if="payment_value === 'credit_card' || payment_value === 'debit_card'">
                        <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert"></div>
                        <!-- <el-button type="success" @click="submitPayment"> Submit Payment</el-button> -->
                    </div>

                    <h1>Cash Payment</h1>
                    <el-input size="mini" v-model="paid_amount"></el-input>
                    <el-button icon="el-icon-success" size="mini" type="success" @click="addAmount()">Add</el-button>

                </div>

            </el-tab-pane>

            <el-tab-pane :label="'Paid ' + addedAmount">

                <h1>Paid Amount</h1>
                {{ addedAmount }}

            </el-tab-pane>

            <el-tab-pane label="Balance">
                
                <!-- start: PAGE CONTENT -->
                    <div class="invoice" id="printInvoice" style="height:100%;overflow:hidden;"> 
                        <hr>
                        <div class="row invoice-header-intro" style="display:block;overflow:hidden;">
                            <div class="col-sm-4 left-intro" style="float:left">
                                <h4>Client:</h4>
                                <div class="well" v-if="customerInfo">
                                    <address>
                                        <strong v-if="customerInfo.customer_type">{{ customerInfo.customer_type }}</strong>
                                    </address>
                                    <address v-if="customerInfo.customer_type ==='regular_customer'">
                                        <div v-if="customerInfo.customer_name"> 
                                            <strong>Name</strong>
                                            <br>
                                            <a href="mailto:#">
                                                {{ customerInfo.customer_name }}
                                            </a>
                                        </div>

                                        <div v-if="customerInfo.email_address"> 
                                            <strong>E-mail</strong>
                                            <br>
                                            <a href="mailto:#">
                                                {{ customerInfo.email_address }}
                                            </a>
                                        </div>

                                        <div v-if="customerInfo.phone_number">
                                            <strong>Phone</strong>
                                            <br>
                                            <a href="mailto:#">
                                                {{ customerInfo.phone_number }}
                                            </a>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <div class="col-sm-4 pull-right right-intro" style="float:right">
                                
                                <ul class="list-unstyled invoice-details" style="list-style: none;">
                                    <li><h4>Payment Details:</h4></li>
                                    
                                    <div class="well"> 
                                        <li>
                                            <strong v-if="getSettings.software_settings">
                                                FROM: {{ getSettings.software_settings.software_name }}
                                            </strong>
                                        </li>
                                        
                                        <li>
                                            <strong>DATE: {{ todayDate() }}</strong>
                                        </li>
                                    </div>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="row" style="display:block;margin-top:20px;">
                            <div class="col-sm-12">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th> # </th>
                                            <th> Item </th>
                                            <th> Quantity </th>
                                            <th> Unit Cost </th>
                                            <th> Total </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <pre>{{ cartItems }}</pre> -->
                                        <tr style="border-top: 1px solid #ddd;" v-for="(product,index) in cartItems" :key="index">
                                            <td style="border-top: 1px solid #ddd;padding: 8px;line-height: 1.42857143;"> {{ index }} </td>
                                            <td style="border-top: 1px solid #ddd;padding: 8px;line-height: 1.42857143;"> {{ product.name }} </td>
                                            <td style="border-top: 1px solid #ddd;padding: 8px;line-height: 1.42857143;"> {{ product.quantity }} </td>
                                            <td style="border-top: 1px solid #ddd;padding: 8px;line-height: 1.42857143;"> {{ product.price }} </td>
                                            <td style="border-top: 1px solid #ddd;padding: 8px;line-height: 1.42857143;"> {{ parseInt(product.quantity)*parseInt(product.price) }} </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" style="display:block;overflow:hidden;">
                            <div class="col-sm-12 invoice-block">
                                <ul class="list-unstyled amounts" style="list-style: none;padding-left:0px;">
                                    <li>
                                        <strong>Subtotal:</strong> {{ subTotal }}
                                    </li>
                                    <li>
                                        <strong>Tax:</strong> {{ tax }}
                                    </li>
                                    <li>
                                        <strong>Discount:</strong> {{ discount }}
                                    </li>
                                    <li>
                                        <strong>Shipping:</strong> {{ shipping }}
                                    </li>
                                    <li>
                                        <strong>Total:</strong> {{ getTotalAmount(subTotal,shipping,tax,discount) }} 
                                    </li>
                                    <li>
                                        <strong>Status:</strong>{{ order_status }}
                                        <span>{{'( '+ statusAmount + ' )'}}</span>
                                    </li>
                                </ul>
                                <br>

                            </div>
                        </div>
                    </div>
                <!-- end: PAGE CONTENT-->
                
                <el-button icon="el-icon-success" type="success" @click="savePosData">Proceed Order</el-button> 
                <el-button icon="el-icon-printer" @click.prevent="printPage" type="primary">Print Order</el-button>


            </el-tab-pane>

            

        </el-tabs>
            

    </div>
</template>

<style lang="scss">

    .card-element-container{
        margin:15px 0px;
    }

    .modal-body{
        height: 100%;
        .horizontal-line{
            border-top: 1px solid #ccc;
        }

        .payment-section{
            .el-button{
                margin-top: 15px;
            }
        }

        .el-button{
            margin-top: 15px;
        }
    }
    
</style>

<script>
export default {
    
    props:['paymentModalSyncValue','payAmount','subTotal','shipping','tax','discount','totalItems','cartItems'],

    data() {

      return {

        //payment method
        payment_options: [
            {
                value: 'credit_card',
                label: 'Credit Card'
            }, 
            {
                value: 'debit_card',
                label: 'Debit Card'
            }, 
            {
                value: 'Paypal',
                label: 'paypal'
            }, 
            {
                value: 'Cash',
                label: 'cash'
            }
        ],
        payment_value: 'Cash',
        
        paid_amount:0,
        addedAmount:0,
        activeName: 'first',
        totalCartAmountForPay:0,
        amountString:'',
        hasBalanced:false,
        order_status:'',
        customerInfo :false,
        statusAmount:0,
        card: false,
        stripe: false,

        stripeSecretKey: '', 
        stripePublicableKey: ''

      }

    },

    methods:{

        todayDate(){

            const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];

                var today = new Date(); 
                var date = today.toJSON().slice(0, 10); 
                var nDate = date.slice(8, 10) + ' '  
                        + monthNames[today.getMonth()] + ' '  
                        + date.slice(0, 4);
                
                return nDate;
                        
        },

        printPage(){

            var generator = window.open(",'invoice,");
            var layerText = document.getElementById('printInvoice');
            generator.document.write(layerText.innerHTML.replace('Print Me'));

            generator.document.write();
            generator.document.close();
            generator.print();
            generator.close();

        },

        //save pos data
        savePosData(){

            let cutomerDetails = this.$store.getters.getCustomerData;
            let customerNote   = this.$store.getters.getCustomerNote;

            let orderDetails   = {

                'subtotal':this.subTotal,
                'shipping':this.shipping,
                'tax':this.tax,
                'discount':this.discount,
                'paid': this.addedAmount,
                'order_status':this.order_status

            };
            
            let customer_type = cutomerDetails.customer_type;
            if( !customer_type ){
                customer_type = 'walkincustomer';
                cutomerDetails['customer_type'] = 'walkincustomer';
            }

            if(this.totalItems === 0){

                this.$notify({
                    title: 'Error',
                    message: 'Can not proceed , no items added!!',
                    type: 'error',
                });

            }

            else if( customer_type === 'walkincustomer' && this.totalItems && !this.hasBalanced){
                
                this.$notify({
                    title: 'Error',
                    message: 'Can not proceed , Walkin Customer should pay balanced amount!!',
                    type: 'error',
                });

            }

            else if( customer_type === 'walkincustomer' && this.totalItems ){

                var info = {'orderDetails':orderDetails,'cutomerDetails':cutomerDetails,'note':customerNote,'orderedProducts':this.cartItems};
                this.sendPosData(info);

            }

            else if( !Object.entries(cutomerDetails).length ){
                
                this.$notify({
                    title: 'Error',
                    message: 'Can not proceed , Customer is not added correctly!!',
                    type: 'error',
                });

            }

            else if( cutomerDetails.phone_number === '' || cutomerDetails.customer_name === '' ){

                this.$notify({
                    title: 'Error',
                    message: 'Can not proceed , Add Customer Name and Phone Number!!',
                    type: 'error',
                });

            }

            else if( this.totalItems ){

                var info = {'orderDetails':orderDetails,'cutomerDetails':cutomerDetails,'note':customerNote,'orderedProducts':this.cartItems};

                this.sendPosData(info);

            }

        },

        sendPosData(info){

            let that = this;
            let token = '';

            // this.stripe.createToken(this.card).then(function(result) {
            //     if (result.error) {
            //         // Inform the user if there was an error.
            //         var errorElement = document.getElementById('card-errors');
            //         errorElement.textContent = result.error.message;
            //     } else {
            //         // Send the token to your server.
            //         token = result.token;//that.stripeTokenHandler(result.token);
            //         info['stripeToken']     = token.id;
            //         info['stripeSecret']    = this.stripeSecretKey;
            //         info['payment_method']  = this.payment_value;
            //         that.makePosRequest(info);
            //     }
            // });
           
            this.makePosRequest(info);

        },

        makePosRequest(info){
            let self=this;
                
            axios.post('/save-pos', info)
            .then(function (response) {

                console.log('response ',response.data);

                self.$emit('update:paymentModalSyncValue', false);
                self.$emit('update:successFullOrderValue', true);
                
                self.$notify({
                    title: 'Success',
                    message: 'Order is successfully completed!!',
                    type: 'success',
                });

            })
            .catch(error => {
                
            })
            .then(() => {
                
            });
        },

        amountInfo(){

            var amount = parseInt( this.totalCartAmountForPay ) - parseInt( this.addedAmount );
            this.statusAmount = amount > 0 ? amount : -(amount);

            let totalCartAmountForPay = parseInt( this.totalCartAmountForPay );
            let addedAmount = parseInt( this.addedAmount );

            if(totalCartAmountForPay === addedAmount){

                this.hasBalanced = true;
                this.amountString = 'Balanced Amount';
                this.order_status = 'paid';

            }else if(totalCartAmountForPay>addedAmount){
                
                this.hasBalanced = false;
                this.amountString = 'Customer Paid Less Amount';
                this.order_status = 'due';

            }else if(totalCartAmountForPay<addedAmount){

                this.hasBalanced = false;
                this.amountString = 'Customer Paid Higher Amount';
                this.order_status = 'returnable';

            }

        },

        getTotalAmount(cartSubTotal,shipping,tax,discount){

            let sum = parseInt(cartSubTotal);

            if(shipping){
                sum += parseInt(shipping);
            }

            if(tax){
                sum += parseInt(tax);
            }

            if(discount){
                sum -= parseInt(discount);
            }

            this.totalCartAmountForPay = sum;

            return sum;

        },

        addAmount(){

            this.addedAmount = this.paid_amount;
            this.amountInfo();

        },

        // stripeTokenHandler(token) {

        //     // Insert the token ID into the form so it gets submitted to the server
        //     var form = document.getElementById('payment-form');
        //     var hiddenInput = document.createElement('input');
        //     hiddenInput.setAttribute('type', 'hidden');
        //     hiddenInput.setAttribute('name', 'stripeToken');
        //     hiddenInput.setAttribute('value', token.id);
        //     form.appendChild(hiddenInput);
        //     //alert(token.id);
        //     return token.id;
        //     // Submit the form
        //     //form.submit();
        // },

        submitPayment(){

            // Handle form submission.
            // var form = document.getElementById('payment-form');
            // form.addEventListener('submit', function(event) {
            // event.preventDefault();
            //var stripe = Stripe('pk_test_51HAXwSH5wL85b1wTRt05E6UCNp3Q8fZad94MupjVzW4oIHDCfiH1sFuEIOwDJLBrRMgaFNjPb4Ga0FL2iQaoKy3x00y6g1AnmC');
            // Create an instance of Elements.
            //var elements = stripe.elements();
            // Create an instance of the card Element.
            //var card = elements.create('card', {style: style});

            // let that = this;
            // this.stripe.createToken(this.card).then(function(result) {
            //     if (result.error) {
            //         // Inform the user if there was an error.
            //         var errorElement = document.getElementById('card-errors');
            //         errorElement.textContent = result.error.message;
            //     } else {
            //         // Send the token to your server.
            //         console.log(result);
            //         that.stripeTokenHandler(result.token);
            //     }
            // });

            //});
            
        },

        loadStripe(){
            // Create a Stripe client.
            let publication_key = this.stripePublicableKey;
            var stripe = Stripe(publication_key);
            this.stripe = stripe;
            // Create an instance of Elements.
            var elements = stripe.elements();

            // Custom styling can be passed to options when creating an Element.
            // (Note that this demo uses a wider set of styles than the guide below.)
            var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
            };

            // Create an instance of the card Element.
            var card = elements.create('card', {
                style: style,
                hidePostalCode: true
            });

            this.card = card;

            // Add an instance of the card Element into the `card-element` <div>.
            card.mount('#card-element');

            //console.log($('#card-element').length);

            // Handle real-time validation errors from the card Element.
            card.on('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
            });

            

        },

        getStripeSettings() {

            //this.loading = true;
            axios.get('/advance-settings')
                .then(response => {
                    
                    console.log('response ',response.data);

                    let settings    = response.data.settings.advance_settings;

                    if(settings) {
                        
                        this.stripePublicableKey      = settings.stripe_settings.publication_key;
                        this.stripeSecretKey          = settings.stripe_settings.secret_key;
                                                
                    }

                })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                   this.loading = false; 

                });
        

        }

    },

    watch:{
        cartItems(val){
            this.cartItems = val;
        },

        payment_value(val){
            if(val === 'credit_card' || val === 'debit_card'){

                let that = this;
                setTimeout(function(){ 
                    that.loadStripe(); 
                }, 5);
                
            }
        }
    },

    computed:{

        getSettings(){
            return this.$store.getters.getSettings;
        }

    },

    mounted(){

        this.getStripeSettings();
        
        this.customerInfo = this.$store.getters.getCustomerData;
        let customer_type = this.customerInfo.customer_type;
        if( !customer_type ){
            customer_type = 'walkincustomer';
            this.customerInfo['customer_type'] = 'walkincustomer';
        }

    }

}
</script>