<template>

    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Brands / Add Brand
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <div class="back-icon">
            <el-button type="default" icon="el-icon-arrow-left" size="mini" @click="goBack">Previous Page</el-button> 
        </div>

        <div class="form-container">
            <el-row class="form-row">
                <el-col :span="12" class="form-col">
                    <p>Brand Name :</p>
                    <el-input type="text" v-model="name" size="mini"></el-input>
                    <p v-if="errors.name" style="color:red">{{ errors.name[0] }}</p>
                    <el-button type="primary" size="mini" @click="saveBrand">Save</el-button>
                </el-col>
            </el-row>
        </div>
        <!-- end: PAGE CONTENT -->

    </div>

</template>

<script>
export default {
    
    data() {

        return {

            loading:false,
            name:'',
            errors:{}

        }

    },

    methods:{

        goBack(){

            this.$router.go(-1);

        },
        
        saveBrand(){

            this.loading = true;

            axios.post('/brand/create', {

                name: this.name

            })
            .then(response => {

                this.$notify({

                    title: 'Success',
                    message: 'Brand Saved!',
                    type: 'success',
                    position: 'top-right'

                });

                this.$router.push('/admin/brands');

            })
            .catch(error => {

                if(error.response) {

                    this.errors = error.response.data.errors;

                }else {

                this.$notify({

                    title: 'Error',
                    message: 'Something went wrong!',
                    type: 'error',
                    position: 'top-right'
                    
                }); 

                }
            })
            .then(() => {
                this.loading = false;
            });

        }

    }
}
</script>
