<template>

    <div class="ninja_intro_welcome">
        <h2>Welcome <span v-if="getUser" style="color:#007AFF;"> {{ getUser }}</span> to <span v-if="getSettings.software_settings">{{ getSettings.software_settings.software_name }}</span></h2>
        <p>Thank you from <span v-if="getSettings.software_settings">{{ getSettings.software_settings.software_name }}</span> - Inventory System Made Simple</p>
        <div class="ninja_actions">
            <el-button type="success" @click="createNew">
                Create a {{ additionalData.name }}
            </el-button>
        </div>
        <hr/>
       
    </div>

</template>

<script>

export default {

    name: "Welcome",

    props:['additionalData'],

    data() {

        return {

            docs: []

        }

    },

    methods: {

        createNew() {

            this.$emit('createNewOne', true);

        }

    },

    computed: {

        getSettings() {

            return this.$store.getters.getSettings;

        },

        getUser() {

            return this.$store.getters.getUser;

        } 

    }
    
}

</script>
