<template>

    <div v-loading="loading" element-loading-text="Loading...Please Wait..." class="wppayforms">

        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-file"></i>
                        <router-link to="/admin">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="active">
                        Orders / All Orders
                    </li>
                </ol>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>
        <!-- end: PAGE HEADER -->

        <!-- start: PAGE CONTENT -->
        <!--We Have forms Now Start-->
        <div class="all_payforms_wrapper payform_section">

            <!--Header start-->
            <div class="header_wrapper">
                <h1 class="header_section_title">
                    {{ 'All orders' }}
                </h1>
                <div class="header_section_actions">

                    <div class="header_search_action">

                        <el-input @keyup.enter.native="allorders()" size="small" placeholder="Search" v-model="search_string" class="input-with-select">
                            <el-button @click="allorders()" slot="append" icon="el-icon-search"></el-button>
                        </el-input>

                    </div>
                    
                </div>

            </div>
            <!--header end-->

            <!--table start-->
            <div class="payform_section_body">

                <el-table style="width: 100%" :data="orders" @selection-change="handleSelectionChange" ref="multipleTable">
                
                    <!-- <el-table-column type="selection" width="80">
                    </el-table-column> -->

                    <el-table-column type="expand" >
                        <template slot-scope="props">

                            <p>Id: {{ props.row.id }}</p>
                            <p>Status: {{ props.row.order_status }}</p>
                            <p>subtotal: {{ props.row.subtotal }}</p>
                            <p>tax: {{ props.row.tax }}</p>
                            <p>shipping: {{ props.row.shipping }}</p>
                            <p>total costs: {{ findTotal(props.row) }}</p>
                            <p>total paid: {{ props.row.paid }}</p>
                            <p>customer Type: {{ props.row.customer['customer_type'] }}</p>
                            <p>Created At: {{ props.row.created_at }}</p>

                        </template>
                    </el-table-column>

                    <el-table-column
                        label="Id"
                        prop="id"
                        width="140">
                    </el-table-column>


                    <el-table-column
                        label="Paid"
                        prop="paid"
                        width="140">
                    </el-table-column>

                    <el-table-column
                        label="Subtotal"
                        prop="subtotal"
                        width="140">
                    </el-table-column>

                    <el-table-column
                        label="Shipping"
                        prop="shipping"
                        width="140">
                    </el-table-column>

                    <el-table-column
                        label="Tax"
                        prop="tax"
                        width="140">
                    </el-table-column>
                    
                    <el-table-column
                    label="Customer"
                    width="160">

                        <template slot-scope="scope">
                            <el-button size="mini" @click="customerDetails(scope.row.customer)" type="primary">Customer Details</el-button>
                        </template>

                    </el-table-column>

                    <el-table-column
                        label="Date"
                        width="180">

                        <template slot-scope="scope">
                        {{ $dateFormat(scope.row.created_at) }}
                        </template>

                    </el-table-column>

                </el-table>
            </div>
            <!--table end-->

            <div class="fluentpos_pagination">
                <el-pagination
                    background
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="page_number"
                    :page-size="per_page"
                    :page-sizes="pageSizes"
                    layout="total, sizes, prev, pager, next"
                    :total="total">
                </el-pagination>
            </div>

        </div>
        <!-- end: PAGE CONTENT -->

        <!-- Delete Multiple form Confimation Modal -->
        <el-dialog
            title="Customer Details"
            :visible.sync="showCustomerDetails"
            width="90%">

            <div class="modal_body">
                <p>Customer Type : {{ customer_details.customer_type }}</p>                     
                <p v-if="customer_details.phone">Phone : {{ customer_details.phone }}</p>                     
                <p v-if="customer_details.email">Email : {{ customer_details.email }}</p>                     
                <p v-if="customer_details.name">Name : {{ customer_details.name }}</p>                     
                <p v-if="customer_details.description">Description : {{ customer_details.description }}</p>                     
                <p v-if="customer_details.home_address">Home_address : {{ customer_details.home_address }}</p>                     
                <p v-if="customer_details.city">City : {{ customer_details.city }}</p>                     
                <p v-if="customer_details.country">Country : {{ customer_details.country }}</p>                     
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="showCustomerDetails = false">Cancel</el-button>
                <el-button type="primary" @click="multipleSelectActionForBulkAction()">Confirm</el-button>
            </span>

        </el-dialog>

    </div>

</template>

<script>

export default {
    
    data() {

        return {

            loading:false,

            //table selection checkbox
            multipleSelection:[],

            //table pagination
            per_page: 10,
            page_number: 1,
            total: 0,
            pageSizes: [5,10, 20, 30, 40, 50, 100, 200],

            orders : [],
            search_string : '',
            hasorders : false,

            deletingData : false,
            deleteDialogVisible : false,

            editingData:false,

            //bulk options
            bulkValue:'',
            bulkOptions:[{
                value: 'delete',
                label: 'Delete All'
            }],
            selectVisibleForBulkAction:false,
            customer_details:{},
            showCustomerDetails:false

        }

    },

    methods: {

        customerDetails(customer) {

            this.customer_details = customer;
            this.showCustomerDetails = true;

        },

        //table selection checkbox
        handleSelectionChange(val) {

            this.multipleSelection = val;
            
        },
        
        //table pagination
        handleSizeChange(val) {

            this.per_page = val;
            this.allorders();

        },

        handleCurrentChange(val) {

            this.page_number = val;
            this.allorders();

        },

        findTotal(row) {

            let sum = parseInt(row.subtotal);

            if(row.shipping) {

                sum += parseInt(row.shipping);

            }

            if(row.tax) {

                sum += parseInt(row.tax);

            }

            if(row.discount) {

                sum -= parseInt(row.discount);

            }

            return sum;

        },

        //orders crud read
        allorders() {

            this.loading = true;
            let page = this.page_number;
            let perPage =  this.per_page;
            let search  = this.search_string;

            axios.get('/orders/?page='+page+'&paginate='+perPage+'&s='+search)
                .then(response => {
                    
                    let all_orders  = response.data.orders.data;
                    this.orders     = all_orders;
                    this.total      = response.data.total;
                    this.hasorders  = all_orders.length;

                })
                .catch(error => {

                    console.log(error);

                })
                .then(() => {

                   this.loading = false; 

                });

        },

    },

    mounted() {

        this.allorders();

    }

}

</script>
