
.button-icons{
    height:600px;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    .platform-icon{
        margin:20px 0px 0px 8px;
    }
}

a#msnnr_btn_anc {
    position: relative;
    float: left;
}

div#messenger_button {
    position: relative;
    float: left;
    background: #2196F3;
    color: #fff;
    font-family: arial;
    border-radius: 3px;
    overflow: hidden;
    text-decoration: none;
}

#whatsapp_button{
    position: relative;
    float: left;
    background: rgb(31, 204, 31);
    color: #fff;
    font-family: arial;
    border-radius: 3px;
    overflow: hidden;
    text-decoration: none;
}

.messenger_column {
    float: left;
    padding: 5px;
}

.messenger_column.btn_icon>#msngr_btn_icon {
    float: left;
    width: 28px;
}

.messenger_column.btn_label {
    padding: 10px;
    padding-right: 5px;
}

@media only screen and (max-width: 600px) {
    #whatsapp_button{
        display: flex !important;
    }
    #messenger_button{
        display: flex !important;
    }
}

.platform-settings{
    display: block;
    margin-top:10px;
    .platform-header{
        display: flex;
        justify-content: center;
        align-items: center;

        h4{
            margin-left: 15px;
        }    
    }
}


